.instructions-spollers {

		// .instructions-spollers__item

		&__item {
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}

		// .instructions-spollers__title

		&__title {
			display: grid;
			grid-template-columns: 1fr auto;
			gap: 16px;
			align-items: center;
			border-radius: 8px;
			background-color: var(--white);
			padding: 24px;
			position: relative;
			cursor: pointer;
			span {
				display: inline-block;
				grid-column: 1/2;
			}
			
			&::before,
			&::after {
				content:'';
				position: absolute;
				grid-column: 2/3;
				right: 50%;
				top: 50%;
				transform: translate(0%,-50%);
				width: 18px;
				height: 2px;
				border-radius: 2px;
				background-color: var(--primary);
				transform-origin: center;
				transition: transform .45s ease;
			}
			&::after {
				transform: translate(0%,-50%) rotate(90deg);
			}
			&.--spoller-active {
				&::after {
					transform: translate(0%,-50%) rotate(0deg);
				}
			}
			@media (min-width:toEm($mobileSmall)){
				 padding: 32px; 
			}
		}

		// .instructions-spollers__body

		&__body {
		}
		
		// .instructions-spollers__content
		
		&__content {
			padding-top: 8px;
		}
		
		// .instructions-spollers__wrapper
		&__wrapper {
			padding: 12px 18px;
			border-radius: 8px;
			background-color: var(--white);
			@media (min-width:toEm($mobileSmall)){
				padding: 24px 32px;
			}
			p {
				&:not(:last-child) {
					margin-bottom: 8px;
				}
			}
		}
}
