<script type="module" src="@components/pages/article/article.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<main class="page">
	<div data-fls-breadcrumb class="breadcrumb">
		<nav class="breadcrumb__container">
			<ul itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb__list">
				<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb__item">
					<a itemprop="item" href="index.html"><span itemprop="name">Головна</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb__item">
					<a itemprop="item" href="index.html"><span itemprop="name">Для держзамовників</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb__item">
					<a itemprop="item" href="index.html"><span itemprop="name">Статті</span></a>
					<meta itemprop="position" content="3" />
				</li>

				<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb__item">
					<span itemprop="name">Все про зміни та термін дії плану</span>
					<meta itemprop="position" content="4" />
				</li>
			</ul>
		</nav>
	</div>
	<article class="article">
		<div class="article__head head-article">
			<div class="head-article__container">
				<div class="head-article__tags">
					<a href="#" data-fls-tags="" class="tag tag--3" aria-label="tag link">Держзамовнику</a>
					<a href="#" data-fls-tags="" class="tag tag--3" aria-label="tag link">Держзамовнику</a>
					<a href="#" data-fls-tags="" class="tag tag--3" aria-label="tag link">Держзамовнику</a>
					<a href="#" data-fls-tags="" class="tag tag--3" aria-label="tag link">Держзамовнику</a>
				
				</div>
				<div class="head-article__info">
					<div class="head-article__time --icon-clock">
						Приблизний час читання: <span>12 хв</span>
					</div>
					<div class="head-article__view --icon-eye">
						Переглядів: <span>100500</span>
					</div>
				</div>
			</div>
		</div>
		<div class="article__content">
			<div class="article__container">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, sapiente molestiae nisi corporis neque cum necessitatibus dolorem accusantium rem non repudiandae dolorum itaque excepturi, placeat aspernatur exercitationem asperiores ipsam ex?</p>
				<a href="#">Lorem link</a>

				<div class="wp-block-button is-style-custom--green">
					<a class="wp-block-button__link wp-element-button" href="http://Назва кнопки">Назва кнопки</a>
				</div>
				<div class="wp-block-button is-style-custom--transparent">
					<a class="wp-block-button__link wp-element-button" href="http://Назва кнопки">Назва кнопки</a>
				</div>
				<div class="wp-block-button is-style-custom--gray">
					<a class="wp-block-button__link wp-element-button" href="http://Назва кнопки">Назва кнопки</a>
				</div>
				<div class="wp-block-button is-style-custom--gray">
					<a disabled class="wp-block-button__link wp-element-button" href="http://Назва кнопки">Назва кнопки</a>
				</div>

				<figure class="wp-block-table is-style-custom is-style-custom--green">
					<table>
						<thead>
							<tr>
								<th>Вид предмету закупівлі</th>
								<th>Вартісні межі</th>
								<th>Допорогові закупівлі</th>
								<th>Надпорогові закупівлі</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Товари</td>
								<td>100 тис. грн.</td>
								<td>– прямий договір<br>– спрощена закупівля (наказ ДП “Прозорро” №25)<br>– запит пропозицій</td>
								<td>– відкриті торги з особливостями<br>– запит пропозицій<br>– прямий договір (п.13 постанови № 1178</td>
							</tr>
							<tr>
								<td>Товари</td>
								<td>100 тис. грн.</td>
								<td>– прямий договір<br>– спрощена закупівля (наказ ДП “Прозорро” №25)<br>– запит пропозицій</td>
								<td>– відкриті торги з особливостями<br>– запит пропозицій<br>– прямий договір (п.13 постанови № 1178</td>
							</tr>
							<tr>
								<td>Товари</td>
								<td>100 тис. грн.</td>
								<td>– прямий договір<br>– спрощена закупівля (наказ ДП “Прозорро” №25)<br>– запит пропозицій</td>
								<td>– відкриті торги з особливостями<br>– запит пропозицій<br>– прямий договір (п.13 постанови № 1178</td>
							</tr>
							<tr>
								<td>Товари</td>
								<td>100 тис. грн.</td>
								<td>– прямий договір<br>– спрощена закупівля (наказ ДП “Прозорро” №25)<br>– запит пропозицій</td>
								<td>– відкриті торги з особливостями<br>– запит пропозицій<br>– прямий договір (п.13 постанови № 1178</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td>lorem</td>
								<td>lorem 2</td>
								<td>lorem 3</td>
								<td>lorem 4</td>
							</tr>
						</tfoot>
					</table>
				</figure>
				<figure class="wp-block-table is-style-custom is-style-custom--gray">
					<table>
						<thead>
							<tr>
								<th>Вид предмету закупівлі</th>
								<th>Вартісні межі</th>
								<th>Допорогові закупівлі</th>
								<th>Надпорогові закупівлі</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Товари</td>
								<td>100 тис. грн.</td>
								<td>– прямий договір<br>– спрощена закупівля (наказ ДП “Прозорро” №25)<br>– запит пропозицій</td>
								<td>– відкриті торги з особливостями<br>– запит пропозицій<br>– прямий договір (п.13 постанови № 1178</td>
							</tr>
							<tr>
								<td>Товари</td>
								<td>100 тис. грн.</td>
								<td>– прямий договір<br>– спрощена закупівля (наказ ДП “Прозорро” №25)<br>– запит пропозицій</td>
								<td>– відкриті торги з особливостями<br>– запит пропозицій<br>– прямий договір (п.13 постанови № 1178</td>
							</tr>
							<tr>
								<td>Товари</td>
								<td>100 тис. грн.</td>
								<td>– прямий договір<br>– спрощена закупівля (наказ ДП “Прозорро” №25)<br>– запит пропозицій</td>
								<td>– відкриті торги з особливостями<br>– запит пропозицій<br>– прямий договір (п.13 постанови № 1178</td>
							</tr>
							<tr>
								<td>Товари</td>
								<td>100 тис. грн.</td>
								<td>– прямий договір<br>– спрощена закупівля (наказ ДП “Прозорро” №25)<br>– запит пропозицій</td>
								<td>– відкриті торги з особливостями<br>– запит пропозицій<br>– прямий договір (п.13 постанови № 1178</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td>lorem</td>
								<td>lorem 2</td>
								<td>lorem 3</td>
								<td>lorem 4</td>
							</tr>
						</tfoot>
					</table>
				</figure>
				<figure class="wp-block-table">
					<table>
						<thead>
							<tr>
								<th>Вид предмету закупівлі</th>
								<th>Вартісні межі</th>
								<th>Допорогові закупівлі</th>
								<th>Надпорогові закупівлі</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Товари</td>
								<td>100 тис. грн.</td>
								<td>– прямий договір<br>– спрощена закупівля (наказ ДП “Прозорро” №25)<br>– запит пропозицій</td>
								<td>– відкриті торги з особливостями<br>– запит пропозицій<br>– прямий договір (п.13 постанови № 1178</td>
							</tr>
							<tr>
								<td>Товари</td>
								<td>100 тис. грн.</td>
								<td>– прямий договір<br>– спрощена закупівля (наказ ДП “Прозорро” №25)<br>– запит пропозицій</td>
								<td>– відкриті торги з особливостями<br>– запит пропозицій<br>– прямий договір (п.13 постанови № 1178</td>
							</tr>
							<tr>
								<td>Товари</td>
								<td>100 тис. грн.</td>
								<td>– прямий договір<br>– спрощена закупівля (наказ ДП “Прозорро” №25)<br>– запит пропозицій</td>
								<td>– відкриті торги з особливостями<br>– запит пропозицій<br>– прямий договір (п.13 постанови № 1178</td>
							</tr>
							<tr>
								<td>Товари</td>
								<td>100 тис. грн.</td>
								<td>– прямий договір<br>– спрощена закупівля (наказ ДП “Прозорро” №25)<br>– запит пропозицій</td>
								<td>– відкриті торги з особливостями<br>– запит пропозицій<br>– прямий договір (п.13 постанови № 1178</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td>lorem</td>
								<td>lorem 2</td>
								<td>lorem 3</td>
								<td>lorem 4</td>
							</tr>
						</tfoot>
					</table>
				</figure>

				<div class="article-program">
					<div class="article-program__item">
						<div class="article-program__icon">
							<img src="@img/icons/logo-short.svg" alt="Image">
						</div>
						<div>
							<p>09:00</p>
							<p>Наталія Ковальова, директора майданчика Zakupivli.Pro</p>
							<p>Тема: Zakupivli.Pro - найбільший акредитований майданчик державних і комерційних тендерів Prozorro, а також државних аукціонів Prozorro.Продажі</p>
						</div>
					</div>
					<div class="article-program__item">
						<div class="article-program__icon">
							<img src="@img/icons/logo-short.svg" alt="Image">
						</div>
						<div>
							<p>10:00</p>
							<p>Наталія Ковальова, директора майданчика Zakupivli.Pro</p>
							<p>Тема: Zakupivli.Pro - це найбільший акредитований майданчик, який спеціалізується на державних та комерційних тендерах Prozorro, а також на проведенні державних аукціонів Prozorro.Продажі. Цей ресурс надає унікальні можливості для
								учасників ринку, забезпечуючи прозорість та доступність інформації про тендери та аукціони, що проходять в Україні.</p>
						</div>
					</div>
					<div class="article-program__item">
						<div class="article-program__icon">
							<img src="@img/icons/logo-short.svg" alt="Image">
						</div>
						<div>
							<p>09:00</p>
							<p>Наталія Ковальова, директора майданчика Zakupivli.Pro</p>
							<p>Тема: Zakupivli.Pro - найбільший акредитований майданчик державних і комерційних тендерів Prozorro, а також државних аукціонів Prozorro.Продажі</p>
						</div>
					</div>
					<div class="article-program__item">
						<div class="article-program__icon">
							<img src="@img/icons/logo-short.svg" alt="Image">
						</div>
						<div>
							<p>09:00</p>
							<p>Наталія Ковальова, директора майданчика Zakupivli.Pro</p>
							<p>Тема: Zakupivli.Pro - найбільший акредитований майданчик державних і комерційних тендерів Prozorro, а також државних аукціонів Prozorro.Продажі</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
	<div class="author-article">
		<div class="author-article__container">
			<div class="author-article__body">
				<div class="author-article__left">
					<div class="author-article__img">
						<div class="author-article__img-wr">
							<img src="@img/article/author-man.jpg" width="80" height="77" alt="Image">
						</div>
					</div>
					<div class="author-article__about">
						<div class="author-article__name">
							<p>Імʼя та Прізвище</p>
						</div>
						<div class="author-article__position">
							<p>Фахівець відділу розвитку державних закупівель майданчика Zakupivli.Pro</p>
						</div>
					</div>
					<div class="author-article__btn">
						<a href="#" data-fls-buttons class="btn btn--gray">Всі матеріали автора</a>
					</div>
				</div>
				<div class="author-article__like">
					<div class="author-article__feedback" data-feedback-block role="group" aria-label="Оцінка статті">
						<span class="author-article__feedback-label">Сподобалась стаття?</span>
						<div class="author-article__feedback-actions">
							<button type="button" data-feedback="like" class="author-article__feedback-btn --icon-like --like" aria-pressed="false" aria-label="Подобається"></button>
							<button type="button" data-feedback="dislike" class="author-article__feedback-btn --icon-like --dislike" aria-pressed="false" aria-label="Не подобається"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="comments">
		<div class="comments__container">

			<div class="post-comments mobile-full-width">
				<h3 class="post-comment-title">Коментарі <span>(11)</span></h3>

				<div class="post-comment-form">
					<div id="respond" class="comment-respond">
						<h3 id="reply-title" class="comment-reply-title"> <small><a rel="nofollow" id="cancel-comment-reply-link" href="/ukrayinska-reyestratsiya-na-maydanchiku/#respond" style="display:none;">Скасувати коментар</a></small></h3>
						<form action="https://blog.zakupivli.pro/wp-comments-post.php" method="post" id="commentform" class="comment-form">
							<input type="text" id="author" name="author" class="post-comment-input-author post-comment-input" value="" placeholder="Ваше ім`я" maxlength="30" autocomplete="on" tabindex="1" required="required" aria-required="true">

							<textarea type="text" id="comment" name="comment" class="post-comment-input-comment post-comment-input" placeholder="Ваш коментар" required="required"></textarea>
							<p class="form-submit">
								<input name="submit" type="submit" id="submit" class="post-comment-submit btn" value="Надіслати"> <input type="hidden" name="comment_post_ID" value="183" id="comment_post_ID">
								<input type="hidden" name="comment_parent" id="comment_parent" value="0">
							</p>
						</form>
					</div>
				</div>

				<div class="post-comments-container">
					<ul class="post-comments-list">
						<li class="post-comment-item" id="comment-1679">
							<div class="post-comment-header">
								<div class="comment-author">Як взяти участь в державних закупівлях ProZorro</div>
								<div class="comment-date">04 Липня 2017, 13:16</div>
							</div>

							<div class="post-comment-text">
								<p>[…] Читайте: Як зареєструватись на сайті державних закупівель Zakupki.… […]</p>
							</div>
							<div class="post-comment-reply"><a rel="nofollow" class="comment-reply-link" href="#comment-1679" data-commentid="1679" data-postid="183" data-belowelement="comment-1679" data-respondelement="respond"
									data-replyto="Відповісти Як взяти участь в державних закупівлях ProZorro" aria-label="Відповісти Як взяти участь в державних закупівлях ProZorro">Відповісти</a></div>
						</li>
						<li class="post-comment-item" id="comment-1680">
							<div class="post-comment-header">
								<div class="comment-author">Список інструкцій та порад для постачальників (державні та комерційні закупівлі) - Zakupki.education</div>
								<div class="comment-date">10 Січня 2019, 16:18</div>
							</div>

							<div class="post-comment-text">
								<p>[…] ・Реєстрація на майданчику/вхід в особистий кабінет […]</p>
							</div>
							<div class="post-comment-reply"><a rel="nofollow" class="comment-reply-link" href="#comment-1680" data-commentid="1680" data-postid="183" data-belowelement="comment-1680" data-respondelement="respond"
									data-replyto="Відповісти Список інструкцій та порад для постачальників (державні та комерційні закупівлі) - Zakupki.education"
									aria-label="Відповісти Список інструкцій та порад для постачальників (державні та комерційні закупівлі) - Zakupki.education">Відповісти</a></div>
						</li>
						<li class="post-comment-item" id="comment-1681">
							<div class="post-comment-header">
								<div class="comment-author">Людмила</div>
								<div class="comment-date">22 Травня 2020, 09:49</div>
							</div>

							<div class="post-comment-text">
								<p>як що підприємство зареєстроване на майданчику як замовник, але треба ще бути зареєстрованим як постачальник, що для цього треба зробити?</p>
							</div>
							<div class="post-comment-reply"><a rel="nofollow" class="comment-reply-link" href="#comment-1681" data-commentid="1681" data-postid="183" data-belowelement="comment-1681" data-respondelement="respond" data-replyto="Відповісти Людмила"
									aria-label="Відповісти Людмила">Відповісти</a></div>
						</li>
						<ul class="children">
							<li class="post-comment-item" id="comment-1682">
								<div class="post-comment-header">
									<div class="comment-author">Мисев Евгений</div>
									<div class="comment-date">25 Травня 2020, 17:02</div>
								</div>

								<div class="post-comment-text">
									<p>Ви можете зареєструватися як постачальник за цим <a href="https://zakupki.prom.ua/registration/supplier" target="_blank" rel="nofollow noopener ugc">посиланням</a>.</p>
								</div>
								<div class="post-comment-reply"><a rel="nofollow" class="comment-reply-link" href="#comment-1682" data-commentid="1682" data-postid="183" data-belowelement="comment-1682" data-respondelement="respond"
										data-replyto="Відповісти Мисев Евгений" aria-label="Відповісти Мисев Евгений">Відповісти</a></div>
							</li>
						</ul>
						<li class="post-comment-item" id="comment-1683">
							<div class="post-comment-header">
								<div class="comment-author">Яна</div>
								<div class="comment-date">03 Липня 2020, 10:05</div>
							</div>

							<div class="post-comment-text">
								<p>як створити підплощадку?</p>
							</div>
							<div class="post-comment-reply"><a rel="nofollow" class="comment-reply-link" href="#comment-1683" data-commentid="1683" data-postid="183" data-belowelement="comment-1683" data-respondelement="respond" data-replyto="Відповісти Яна"
									aria-label="Відповісти Яна">Відповісти</a></div>
						</li>
						<ul class="children">
							<li class="post-comment-item" id="comment-1684">
								<div class="post-comment-header">
									<div class="comment-author">Мисев Евгений</div>
									<div class="comment-date">06 Липня 2020, 17:35</div>
								</div>

								<div class="post-comment-text">
									<p>Поясніть, будь ласка, про що саме йде мова.</p>
								</div>
								<div class="post-comment-reply"><a rel="nofollow" class="comment-reply-link" href="#comment-1684" data-commentid="1684" data-postid="183" data-belowelement="comment-1684" data-respondelement="respond"
										data-replyto="Відповісти Мисев Евгений" aria-label="Відповісти Мисев Евгений">Відповісти</a></div>
							</li>
						</ul>
						<li class="post-comment-item" id="comment-1685">
							<div class="post-comment-header">
								<div class="comment-author">Анонім</div>
								<div class="comment-date">07 Січня 2021, 17:03</div>
							</div>

							<div class="post-comment-text">
								<p>Для цього постачальник має сформувати рахунок та оплатити обов’язково з розрахункового рахунку зареєстрованої компанії.”</p>
							</div>
							<div class="post-comment-reply"><a rel="nofollow" class="comment-reply-link" href="#comment-1685" data-commentid="1685" data-postid="183" data-belowelement="comment-1685" data-respondelement="respond" data-replyto="Відповісти Анонім"
									aria-label="Відповісти Анонім">Відповісти</a></div>
						</li>
						<li class="post-comment-item" id="comment-1686">
							<div class="post-comment-header">
								<div class="comment-author">Оксана</div>
								<div class="comment-date">07 Січня 2021, 17:04</div>
							</div>

							<div class="post-comment-text">
								<p>“Для цього постачальник має сформувати рахунок та оплатити обов’язково з розрахункового рахунку зареєстрованої компанії.” Скільки платити і куди ?</p>
							</div>
							<div class="post-comment-reply"><a rel="nofollow" class="comment-reply-link" href="#comment-1686" data-commentid="1686" data-postid="183" data-belowelement="comment-1686" data-respondelement="respond" data-replyto="Відповісти Оксана"
									aria-label="Відповісти Оксана">Відповісти</a></div>
						</li>
						<ul class="children">
							<li class="post-comment-item" id="comment-1687">
								<div class="post-comment-header">
									<div class="comment-author">Мисев Евгений</div>
									<div class="comment-date">12 Січня 2021, 18:39</div>
								</div>

								<div class="post-comment-text">
									<p>Розмір оплати залежить від бюджету закупівлі, в яку ви плануєте подавати пропозицію. Тарифи доступні у вашому особистому кабінеті у вкладці “Оплати та акти” – <a href="https://my.zakupki.prom.ua/cabinet/purchases/invoice/rates"
											target="_blank" rel="noopener noreferrer nofollow ugc">“Тарифи”</a>. Сплачені кошти ви зможете в повному обсязі використати для участі в закупівлях, окрема плата за реєстрацію та активацію вашої компанії не стягується. Реквізити
										для
										оплати містяться в рахунку, який ви самостійно формуєте в особистому кабінеті: вкладка “Оплати та акти” – “Оплати”.</p>
								</div>
								<div class="post-comment-reply"><a rel="nofollow" class="comment-reply-link" href="#comment-1687" data-commentid="1687" data-postid="183" data-belowelement="comment-1687" data-respondelement="respond"
										data-replyto="Відповісти Мисев Евгений" aria-label="Відповісти Мисев Евгений">Відповісти</a></div>
							</li>
						</ul>
						<li class="post-comment-item" id="comment-1688">
							<div class="post-comment-header">
								<div class="comment-author">Анонім</div>
								<div class="comment-date">28 Серпня 2021, 16:01</div>
							</div>

							<div class="post-comment-text">
								<p>Я зареєструвався як – комерційні закупки, а треба як постачальник. Що потрібно для перереєстрації?</p>
							</div>
							<div class="post-comment-reply"><a rel="nofollow" class="comment-reply-link" href="#comment-1688" data-commentid="1688" data-postid="183" data-belowelement="comment-1688" data-respondelement="respond" data-replyto="Відповісти Анонім"
									aria-label="Відповісти Анонім">Відповісти</a></div>
						</li>
						<ul class="children">
							<li class="post-comment-item" id="comment-1689">
								<div class="post-comment-header">
									<div class="comment-author">b.dontsov</div>
									<div class="comment-date">30 Серпня 2021, 11:41</div>
								</div>

								<div class="post-comment-text">
									<p>Добрий день!<br>
										У випадку помилкової реєстрації, зверніться, будь ласка, за допомогою до тех. підтримки майданчика (0 800 500 011).</p>
								</div>
								<div class="post-comment-reply"><a rel="nofollow" class="comment-reply-link" href="#comment-1689" data-commentid="1689" data-postid="183" data-belowelement="comment-1689" data-respondelement="respond"
										data-replyto="Відповісти b.dontsov" aria-label="Відповісти b.dontsov">Відповісти</a></div>
							</li>
						</ul>
					</ul>
				</div>
			</div>

		</div>
	</div>


	<div class="subscribe mb-1">
		<div class="subscribe__container">
			<form data-fls-subscribe data-fls-form="dev" class="form-subscribe form" action="#" method="POST">
				<div class="form-subscribe__body">
					<h2 class="form-subscribe__title title-av">Підписатися на розсилки</h2>
					<div class="form-subscribe__checkboxes checkboxes">
						<include src="@components/forms/checkbox/checkbox.html" locals='{"title":"Prozorro Market"}'></include>
						<include src="@components/forms/checkbox/checkbox.html" locals='{"title":"Державні закупівлі"}'></include>
						<include src="@components/forms/checkbox/checkbox.html" locals='{"title":"Комерційні закупівлі"}'></include>
						<include src="@components/forms/checkbox/checkbox.html" locals='{"title":"Аукціони"}'></include>
						<include src="@components/forms/checkbox/checkbox.html" locals='{"title":"Постачальникам"}'></include>
					</div>
					<div class="form-subscribe__block">
						<div data-fls-form-item class="form__item">
							<input data-fls-input data-fls-form-errtext="Вкажіть e-mail" required type="email" name="email" placeholder="E-mail" class="form__input input">
							<button data-fls-clear type="button" aria-label="clear input" class="form__clear --icon-cross"></button>
						</div>
						<button data-fls-buttons type="submit" aria-label="submit" class="form__submit btn btn--fw btn--green">Підписатись</button>
					</div>
				</div>
				<div class="form-subscribe__msg title-main">
					<p class="form-subscribe__txt-msg --icon-donedark">Дякуємо за підписку!</p>
				</div>
			</form>
		</div>
	</div>
	<section data-fls-blockcards class="block-cards white-bg border-bottom mb-1">
		<div class="block-cards__container">
			<h2 class="block-cards__title title-av mb-3">Останні матеріали</h2>
			<div class="block-cards__body">
				<div data-fls-slider class="block-cards__slider swiper">
					<div class="block-cards__wrapper swiper-wrapper">
						<div class="block-cards__slide swiper-slide">
							<article data-fls-cardnews class="card-news card-news--t7">
								<a href="#" class="card-news__picture" aria-label="link to the article">
									<img src="@img/main/main-1.jpg" width="753" height="230" alt="Image">
								</a>
								<div class="card-news__body">
									<p class="card-news__time">
										<time datetime="2025-04-10">10 квітня 2025</time>
									</p>
									<div class="card-news__tags">
										<a href="#" data-fls-tags class="tag tag--1" aria-label="tag link">Назва тегу</a>
										<a href="#" data-fls-tags class="tag tag--2" aria-label="tag link">Довга назва тегу</a>
										<a href="#" data-fls-tags class="tag tag--3" aria-label="tag link">Назва тегу</a>
									</div>
									<h2 class="card-news__title title-card">
										<a href="#" aria-label="link to the article">
											Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
										</a>
									</h2>
									<div class="card-news__text">
										<p>
											Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені
											процедури дозволяють
											зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
										</p>
									</div>
								</div>
							</article>
						</div>
						<div class="block-cards__slide swiper-slide">
							<article data-fls-cardnews class="card-news card-news--t7">
								<a href="#" class="card-news__picture" aria-label="link to the article">
									<img src="@img/main/main-1.jpg" width="753" height="230" alt="Image">
								</a>
								<div class="card-news__body">
									<p class="card-news__time">
										<time datetime="2025-04-10">10 квітня 2025</time>
									</p>
									<div class="card-news__tags">
										<a href="#" data-fls-tags class="tag tag--1" aria-label="tag link">Назва тегу</a>
										<a href="#" data-fls-tags class="tag tag--2" aria-label="tag link">Довга назва тегу</a>
										<a href="#" data-fls-tags class="tag tag--3" aria-label="tag link">Назва тегу</a>
									</div>
									<h2 class="card-news__title title-card">
										<a href="#" aria-label="link to the article">
											Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
										</a>
									</h2>
									<div class="card-news__text">
										<p>
											Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені
											процедури дозволяють
											зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
										</p>
									</div>
								</div>
							</article>
						</div>
						<div class="block-cards__slide swiper-slide">
							<article data-fls-cardnews class="card-news card-news--t7">
								<a href="#" class="card-news__picture" aria-label="link to the article">
									<img src="@img/main/main-1.jpg" width="753" height="230" alt="Image">
								</a>
								<div class="card-news__body">
									<p class="card-news__time">
										<time datetime="2025-04-10">10 квітня 2025</time>
									</p>
									<div class="card-news__tags">
										<a href="#" data-fls-tags class="tag tag--1" aria-label="tag link">Назва тегу</a>
										<a href="#" data-fls-tags class="tag tag--2" aria-label="tag link">Довга назва тегу</a>
										<a href="#" data-fls-tags class="tag tag--3" aria-label="tag link">Назва тегу</a>
									</div>
									<h2 class="card-news__title title-card">
										<a href="#" aria-label="link to the article">
											Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
										</a>
									</h2>
									<div class="card-news__text">
										<p>
											Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені
											процедури дозволяють
											зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
										</p>
									</div>
								</div>
							</article>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
</main>