<section data-fls-aisolutions class="ai-solutions mb-1">
  <div class="ai-solutions__container">
    <h2 class="ai-solutions__title title-av mb-3">АІ-рішення для постачальників Prozorro</h2>
    <div class="ai-solutions__body">
      <article class="ai-solutions__item item-ai-solutions">
        <div class="item-ai-solutions__img">
          <img src="@img/aisolutions/aisolutions-1.png" width="230" height="230" alt="Image">
        </div>
        <h3 class="item-ai-solutions__title title-card">AI-помічник для постачальників палива</h3>
        <a href="#" data-fls-buttons class="item-ai-solutions__link btn btn--fw btn--green" aria-label="посилання">Скористатися</a>
      </article>
      <article class="ai-solutions__item item-ai-solutions">
        <div class="item-ai-solutions__img">
          <img src="@img/aisolutions/aisolutions-2.png" width="230" height="230" alt="Image">
        </div>
        <h3 class="item-ai-solutions__title title-card">AI-помічник для постачальників ліків та медичного обладнання </h3>
        <a href="#" data-fls-buttons class="item-ai-solutions__link btn btn--fw btn--green" aria-label="посилання">Скористатися</a>
      </article>
    </div>
  </div>
</section>