.checkbox {
	display: inline-block;
	position: relative;
	&.--form-error {}
	&:not(:last-child) {
		margin-bottom: 5px;
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus-visible + .checkbox__text {
			outline: 1px solid #000;
		}
		&:checked + .checkbox__text:after {
			transform: scale(1);
		}
		&:checked + .checkbox__text::before {
			background-color: var(--white);
		}
	}
	// .checkbox__text
	&__text {
		cursor: pointer;
		position: relative;
		gap: var(--size-1);
		color: var(--white);
		font-size: 14px;
		font-weight: 700;
		display: inline-flex;
		align-items: center;
		.--form-error & {
			color: var(--red);
		}
		&:before {
			content: "";
			border-radius: 4px;
			align-self: flex-start;
			flex: 0 0 16px;
			width: 16px;
			height: 16px;
			border: 1px solid var(--white);
		}
		&::after {
			content: "\f10c";
			font-family: iconfont;
			color: var(--primary);
			transition: all 0.1s ease 0s;
			transform: scale(0);
			width: 16px;
			height: 16px;
			position: absolute;
			left: 0;
			top: 0;
			font-size: 16px;
		}
	}
}
