<div data-fls-videobutton class="video-youtube__body">
  <button class="video-youtube__button" type="button" data-youtube="bYkynBA7lkA" aria-label="кнопка відкриття відео з youtube">
    <img class="ibg" src="@img/poster.jpg" width="784" height="400" alt="poster video">
  </button>
</div>

<!-- <div class="custom-video">
							<video class="custom-video__tag ibg" muted playsinline preload="metadata" width="1440" height="800">
								<source src="@video/video.mp4" type="video/mp4">
							</video>

							<div class="custom-video__controls">
								<button class="custom-video__play" type="button" aria-label="Play/Pause">▶️</button>

								<div class="custom-video__timeline">
									<input type="range" class="custom-video__progress" value="0" min="0" max="100" step="0.1">
								</div>

								<div class="custom-video__time">
									<span class="custom-video__current">0:00</span> / <span class="custom-video__duration">0:00</span>
								</div>
							</div>
						</div> -->