.video-youtube {
  width: 100%;
  // .video-youtube__body
  &__body {
    position: relative;
    z-index: 2;
    background-color: var(--gray-light-2);
    aspect-ratio: 482/270;
    overflow: hidden;
    border-radius: 8px;
    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
     aspect-ratio: 482/270;
    }
  }
  // .video-youtube__button
  &__button {
    overflow: hidden;
    position: relative;
    z-index: 0;
    width: 100%;
    aspect-ratio: 482/270;
    @media (any-hover: hover){
      &:hover{
        &::before {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }
    &::before {
      content: '';
      position: absolute;
      pointer-events: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image:url('@img/icons/play.svg');
      background-repeat: no-repeat;
      background-size: contain;
      transition: transform .65s ease;
      @include adaptiveValue("width", 80, 50);
      @include adaptiveValue("height", 80, 50);
    }
    img {
      height: 100% !important;
      max-width: 100% !important;;
    }
  }
}




// .video-youtube__iframe-wrapper {
// 	position: relative;
// 	width: 100%;
// 	height: 100%;
// 	overflow: hidden;
// }

// .video-youtube__iframe-wrapper iframe {
//   position: relative;
//   z-index: 1;
// 	width: 100%;
// 	height: 100%;
// 	pointer-events: none; /* iframe не ловит события */
// }

// .video-youtube__gesture-capture {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	touch-action: pan-y pan-x;
// 	z-index: 3;
// }


.custom-video {
	position: relative;
	width: 100%;
	max-width: 100%;
}

.custom-video__controls {
	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
	color: #fff;
	font-size: 14px;
	border-radius: 4px;
  pointer-events: none;
}

.custom-video__play {
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 20px;
  pointer-events: all;
}

.custom-video__timeline {
  flex-grow: 1;
  pointer-events: all;
}

.custom-video__progress {
  width: 100%;
  pointer-events: all;
	cursor: pointer;
}

.custom-video__time {
	white-space: nowrap;
}
