.swiper {
	overflow: hidden;
	position: relative;
	@media (max-width:toEm($mobile)){
		 overflow: visible; 
	}
}
.swiper-initialized {
	touch-action: pan-y;
}
.swiper-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
	position: relative;
}
.swiper-vertical {
	.swiper-wrapper {
		flex-direction: column;
	}
}
.swiper-autoheight {
	.swiper-wrapper {
		align-items: flex-start;
	}
}
.swiper-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
.swiper-button-lock {
	display: none !important;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  .swiper-pagination-bullet {
    flex: 0 0 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid var(--white);
    transition: background-color .3s ease;
    &.swiper-pagination-bullet-active {
      background-color: var(--white);
    }
  } 
}

.swiper-button-prev,
.swiper-button-next {
  @extend %gridCenter;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--white);
  transition: color .3s ease;
  @media (any-hover: hover){
    &:hover{
      color: var(--green);
    }
  }
  font-size: 30px;
  &.swiper-button-disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
.swiper-button-prev {
}
.swiper-button-next {
  &::before {
    transform: scaleX(-1);
  }
}


.block-cards {
		// .block-cards__container
		&__container {
		}
		// .block-cards__title
		&__title {
		}

		// .block-cards__body
		&__body {
		}

		// .block-cards__slider
		&__slider {
		}

		// .block-cards__wrapper
		&__wrapper {
      &.swiper-wrapper {
        @media (min-width:toEm($tablet)){
          grid-template-columns: repeat(3,1fr);
        }
        @media (max-width: toEm($tablet)) and (min-width: toEm(600.98)) {
          grid-template-columns: repeat(2,1fr);
          
        }
        @media (min-width:toEm(600.98)){
          display: grid;
          gap: 22px; 
        }
      }
		}

		// .block-cards__slide
		&__slide {
		}
}

.all-news__slider {
  
}