:root {
	/* GENERAL COLORS */
	--primary: #000;
	--green: #46D75A;
	--gray: #C4C4C4;
	--gray-dark: #9B9B9B;
	--gray-light: #EBEBEB;
	--gray-light-2: #dbdcdb;
	--white: #FFFFFF;
	--blue: #00A1CD;
	--red: #FF2900;


	/* SECONDARY COLORS */
	--green-1: #28BF3D;
	--green-2: #50E765;
	--green-3: #59F86F;
	--green-4: #B4FABE;


	/* TAG COLORS */
	--tag-green: #d9f4e6;
	--tag-green-acc: #28BF3D;

	--tag-blue: #e1eef7;
	--tag-blue-acc: #429ACA;
	
	--tag-orange: #FFF3EC;
	--tag-orange-acc: #FF7B36;
	
	--tag-red: #FFD7D7;
	--tag-red-acc: #ff6565;
	
	--tag-brown: #fdf5e1;
	--tag-brown-acc: #DC9B1C;

	--size-1: 0.5rem; /* 8px */
	--size-2: 1rem; /* 16px */
	--size-3: 1.25rem; /* 20px */
	--size-4: 1.5rem; /* 24px */
	--size-5: 3rem; /* 48px */
	--size-6: 4rem; /* 64px */
}
