// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення CSS-змінних
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@use "includes/variables.css";

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення загальних віддалених шрифтів (Google Fonts)
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Стилі тега BODY
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
body {
	min-width: #{$minWidth}px;
	color: $mainColor;
	font-family: $fontFamily;
	font-size: #{$fontSize}px;
	background-color: var(--gray-light);

	// Скролл заблоковано
	[data-fls-scrolllock] & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	[data-fls-loaded] & {
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Оболонка WRAPPER
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Обмежуючий контейнер
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: #{$containerWidth}px;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} 

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Загальні стилі для усього сайту
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.page {
	padding-top: 56px;
	@media (min-width:toEm($mobileSmall)){
		padding-top: 64px;
	}
}

.ibg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	&--contain {
		object-fit: contain;
	}
}

.title-main {
  font-weight: 700;
  line-height: 1.33;
	@include adaptiveValue("font-size", 32,24);
	&--mb {
		@include adaptiveValue("margin-bottom", 42, 17);
	}
  @media (min-width:toEm($mobileSmall)) {
    line-height: 1.25;
  }
  span {
    color: var(--green);
  }
}

.title-av {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.33;	
}

.title-card {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.33;
}

.txt-14 {
	font-size: 14px;
	line-height: 1.7;
	font-weight: 400;
}

.clr-green {
  color: var(--green);

  @media (any-hover: hover) {
    &:hover {
      color: var(--green-2);
    }
  }
}
// PADDING =====================
.pdt-1 {
	padding-top: 48px;
	@media (min-width:toEm($mobile)){
		 padding-top: 100px; 
	}
}
.pdb-1 {
	padding-bottom: 48px;
	@media (min-width:toEm($mobile)){
		 padding-bottom: 100px; 
	}
}

.pdt-2 {
	padding-top: 48px;
}
.pdb-2 {
	padding-bottom: 48px;
}

// MARGIN ========================
.mt-1 {
	margin-top: 48px;
	@media (min-width:toEm($mobile)){
		 margin-top: 100px; 
	}
}
.mb-1 {
	margin-bottom: 48px;
	@media (min-width:toEm($mobile)){
		 margin-bottom: 100px; 
	}
}

.mb-2 {
	margin-bottom: 23px;
}

.mb-3 {
	margin-bottom: 17px;
	@media (min-width:toEm($mobile)){
		 margin-bottom: 44px; 
	}
}

.grid-clm {
  display: grid;
  grid-template-columns: 100%;
  gap: 24px;
  @media (min-width:toEm($mobile)){
    gap: 20px;
    grid-template-columns: 66% auto;
  }
}

.grid-gap {
  display: grid;
  gap: 24px;
  @media (min-width:toEm($mobile)){
    gap: 20px;
  }
}

%bodyGrid {
  display: grid;
  gap: 24px;
  grid-template-columns: 100%;
  @media (min-width:toEm($mobile)){
    gap: 20px;
  }
}

.body-main {
  @extend %bodyGrid;
  @media (min-width:toEm($mobile)){
    grid-template-columns: 66% auto;
  }
  // .body-main__left
  &__left {
    display: flex;
    flex-direction: column;
  }
  // .body-main__slider
  &__slider {
  }
  // .body-main__cards
  &__cards {
    flex: 1;
    @extend %bodyGrid;
    margin-top: 20px;
    @media (min-width:toEm(600.98)){
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width:toEm($mobileSmall)){
      margin-top: 24px;
    }
    
	}
	// .body-main__right
	&__right {
 
  }
	// .body-main__content
	&__content {
	}
}

.white-wrapper {
	background-color: var(--white);
	border-radius: 40px;
	padding-top: 38px;
	padding-bottom: 48px;
	margin-bottom: 48px;
	@media (min-width:toEm($mobile)){
		margin-bottom: 85px;
		 padding-bottom: 100px; 
	}
}

.divide {
	padding-block: 24px;
	@media (min-width:toEm($mobileSmall)){
		padding-block: 50px;
	}
		// .divide__container
		&__container {
			span {
				@media (min-width:toEm($mobileSmall)){
					display: block;
					width: 100%;
					height: 1px;
					background-color: var(--gray-light);
				}
			}
		}
}

.cards-link {
  background-color: var(--white);
  border-radius: 8px;
  padding-inline: 20px;
  padding-block: 36px;

  @media (min-width:toEm($mobileSmall)) {
    padding-inline: 16px 20px;
  }

  // .cards-link--green
  &--green {
    background-color: var(--green);
  }

  // .cards-link__picture
  &__picture {
    margin-bottom: 14px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  // .cards-link__list
  &__list {}

  // .cards-link__item
  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  // .cards-link__link
  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    transition: color .3s ease;
    gap: 16px;

    span {
      line-height: 1.33;
      font-weight: 700;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--green);
      }
    }

    .cards-link--green & {
      @media (any-hover: hover) {
        &:hover {
          color: var(--white);
        }
      }
    }

    &::before {
      flex: 0 0 30px;
      font-size: 30px;
      width: 30px;
      aspect-ratio: 1;
      transform: scaleX(-1);
    }
  }
}





.slider-events {
  @media (max-width:toEm($mobile)) {
    margin-bottom: 48px;
  }

  // .slider-events__container
  &__container {}

  // .slider-events__title
  &__title {}

  // .slider-events__slider
  &__slider {
    overflow: visible !important;
  }

  // .slider-events__wrapper
  &__wrapper {}

  // .slider-events__slide
  &__slide {}

  // .slider-events__buttons

  &__buttons {

  }
}

.video-block__buttons,
.slider-events__buttons {
  pointer-events: none;
  @extend %flexCenter;
  
  @media (min-width:toEm($mobile)) {
    justify-content: flex-end;
    gap: 10px;
    margin-top: 50px;
  }
  
  @media (max-width:toEm($mobile)) {
    display: none;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    pointer-events: all;
    color: var(--primary);

    @media (any-hover: hover) {
      &:hover {
        color: var(--green);
      }
    }
  }
}
.video-block__buttons {
  @media (max-width:toEm($mobile)){
     display: flex; 
     justify-content: space-between;
     position: absolute;
     top: 50%;
     width: 100%;
  }
  .swiper-button-prev,
  .swiper-button-next {
    @media (max-width:toEm($mobile)){
      width: 40px;
      height: 40px;
      &::before {
         background-color: var(--white);
         border: 1px solid var(--white); 
         border-radius: 50%;
         font-size: 40px;
       }
    }
  }
  .swiper-button-prev {
    @media (max-width:toEm($mobile)){
      transform: translate(-40%,-50%);
    }
  }
  .swiper-button-next {
    @media (max-width:toEm($mobile)){
      transform: translate(40%,-50%);
    }
  }
}

.slide-block {

  // .slide-block__link
  &__link {
    background-color: var(--gray-light-2);
    display: block;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.03);
        }
      }
    }

    img {
      aspect-ratio: 522/270;
      transition: transform 1s ease;
    }
  }
}


.video-block {

  // .video-block__container
  &__container {}

  // .video-block__title
  &__title {}

  // .video-block__slider
  &__slider {
    overflow: visible !important;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50,30);
    }
  }

  // .video-block__wrapper
  &__wrapper {}

  // .video-block__slide
  &__slide {}

  // .video-block__buttons
  &__buttons {}

  // .video-block__footer
  &__footer {
    // display: grid;
    // grid-template-columns: repeat(3,1fr);
		@media (min-width:toEm($mobileSmall)){
			max-width: 386px;
			margin-inline: auto;
		}
  }

  // .video-block__link
  &__link {
    // grid-column: 2/3;
    // @media (min-width:toEm($mobileSmall)){
    //   max-width: 386px;
    //   margin-inline: auto;
    // }
  }
}

// == PAGE CUSTOMER =======================
.customer-hero {
		// .customer-hero__container
		&__container {
		}

		// .customer-hero__title
		&__title {
		}

		// .customer-hero__instuctions
		&__instuctions {
      .instructions-spollers {
        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
		}

		// .customer-hero__link
		&__link {
      max-width: 386px !important;
      margin-inline: auto;
		}
}

.instructions {
		// .instructions__title
		&__title {
		}
}
// +++++++++++++++++++++++++++++++++++++++


.tools {
		// .tools__container
		&__container {
		}

		// .tools__title
		&__title {
		}

		// .tools__body
		&__body {
			border-radius: 8px;
			background-color: var(--green);
			padding: 36px 20px;
			@media (min-width:toEm($mobileSmall)){
				padding: 30px; 
			}
			.cards-link__list {
				// display: flex;
				// align-items: center;
				// flex-wrap: wrap;
				// flex-direction: column;
				gap: 24px;
				// @media (min-width:toEm($tablet)){
				// 	justify-content: space-around;
				// }
				// @media (min-width:toEm($mobile)){
				// 	 flex-direction: row; 
				// }
				display: grid;
				@media (min-width:toEm($tablet)){
					justify-items: center;
					grid-template-columns: repeat(3,1fr);
				}
				@media (max-width: toEm($tablet)) and (min-width:toEm($mobile)){
					grid-template-columns: repeat(2,1fr);
				}
			}
			.cards-link__item {
				margin-bottom: 0;
			}
			.cards-link__link {
				@media (min-width:toEm(375.98)){
					font-size: 18px;
				}
				@media (any-hover: hover){
					&:hover{
						color: var(--white);
					}
				}
			}
		}
}
