// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення CSS-змінних
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@use "includes/variables.css";

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення загальних віддалених шрифтів (Google Fonts)
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Стилі тега BODY
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
body {
	min-width: #{$minWidth}px;
	color: $mainColor;
	font-family: $fontFamily;
	font-size: #{$fontSize}px;
	background-color: var(--gray-light);
	.article-page & {
		background-color: var(--white);
	}
	// Скролл заблоковано
	[data-fls-scrolllock] & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	[data-fls-loaded] & {
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Оболонка WRAPPER
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Обмежуючий контейнер
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: #{$containerWidth}px;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} 

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Загальні стилі для усього сайту
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.page {
	padding-top: 56px;
	@media (min-width:toEm($mobileSmall)){
		padding-top: 64px;
	}
}

.ibg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	&--contain {
		object-fit: contain;
	}
}

.title-main {
  font-weight: 700;
  line-height: 1.33;
	@include adaptiveValue("font-size", 32,24);
	&--mb {
		@include adaptiveValue("margin-bottom", 42, 17);
	}
  @media (min-width:toEm($mobileSmall)) {
    line-height: 1.25;
  }
  span {
    color: var(--green);
  }
}

.title-av {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.33;	
}

.title-card {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.33;
}

.txt-14 {
	font-size: 14px;
	line-height: 1.7;
	font-weight: 400;
}

.clr-green {
  color: var(--green);

  @media (any-hover: hover) {
    &:hover {
      color: var(--green-2);
    }
  }
}
// PADDING =====================
.pdt-1 {
	padding-top: 48px;
	@media (min-width:toEm($mobile)){
		 padding-top: 100px; 
	}
}
.pdb-1 {
	padding-bottom: 48px;
	@media (min-width:toEm($mobile)){
		 padding-bottom: 100px; 
	}
}

.pdt-2 {
	padding-top: 48px;
}
.pdb-2 {
	padding-bottom: 48px;
}

// MARGIN ========================
.mt-1 {
	margin-top: 48px;
	@media (min-width:toEm($mobile)){
		 margin-top: 100px; 
	}
}
.mb-1 {
	margin-bottom: 48px;
	@media (min-width:toEm($mobile)){
		 margin-bottom: 100px; 
	}
}

.mt-2 {
	margin-top: 23px;
}
.mb-2 {
	margin-bottom: 23px;
}

.mt-3 {
	margin-bottom: 17px;
	@media (min-width:toEm($mobile)){
		 margin-bottom: 44px; 
	}
}
.mb-3 {
	margin-bottom: 17px;
	@media (min-width:toEm($mobile)){
		 margin-bottom: 44px; 
	}
}

.grid-clm {
  display: grid;
  grid-template-columns: 100%;
  gap: 24px;
  @media (min-width:toEm($mobile)){
    gap: 20px;
    grid-template-columns: 66% auto;
  }
}

.grid-gap {
  display: grid;
  gap: 24px;
  @media (min-width:toEm($mobile)){
    gap: 20px;
  }
}

%bodyGrid {
  display: grid;
  gap: 24px;
  grid-template-columns: 100%;
  @media (min-width:toEm($mobile)){
    gap: 20px;
  }
}

.body-main {
  @extend %bodyGrid;
  @media (min-width:toEm($mobile)){
    grid-template-columns: 66% auto;
  }
  // .body-main__left
  &__left {
    display: flex;
    flex-direction: column;
  }
  // .body-main__slider
  &__slider {
  }
  // .body-main__cards
  &__cards {
    flex: 1;
    @extend %bodyGrid;
    margin-top: 20px;
    @media (min-width:toEm(600.98)){
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width:toEm($mobileSmall)){
      margin-top: 24px;
    }
    
	}
	// .body-main__right
	&__right {
 
  }
	// .body-main__content
	&__content {
	}
}


.border-top {
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
}
.border-bottom {
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}
.white-bg {
	background-color: var(--white);
}
.green-bg {
	background-color: var(--green);
}

// разделительная полоса на первой странице (встречается один раз)
.divide {
	padding-block: 24px;
	@media (min-width:toEm($mobileSmall)){
		padding-block: 50px;
	}
		// .divide__container
		&__container {
			span {
				@media (min-width:toEm($mobileSmall)){
					display: block;
					width: 100%;
					height: 1px;
					background-color: var(--gray-light);
				}
			}
		}
}

