.main {
  .page--home & {
    padding-top: 16px;

    @media (min-width:toEm($mobileSmall)) {
      padding-top: 45px;
    }
  }

  // .main__container
  &__container {}

  // .main__head
  &__head {
    gap: 20px;
    @include adaptiveValue("margin-bottom", 53, 48);
  }

  // .main__title
  &__title {
    @media (min-width:toEm($mobileSmall)) {
      max-width: 80%;
    }
  }

  // .main__form
  &__form {}

  // .main__body
  &__body {}
}



.form-main {
  position: relative;

  // .form-main__text
  &__text {
    line-height: 1.7;
    margin-bottom: 24px;

    @media (min-width:$mobileSmall) {
      margin-bottom: 29px;
    }

    a {
      color: var(--tag-green-acc);
      transition: all .3s ease;

      @media (any-hover: hover) {
        &:hover {
          color: var(--green);
        }
      }
    }
  }

  // .form-main__form
  &__form {
    position: relative;

    .form__submit {
      @media (max-width:toEm($mobile)) {
        max-width: 100%;
      }
    }
  }

  // .form-main__body
  &__body {
    position: relative;
    z-index: 1;
    display: grid;
    gap: 24px;
    transition: opacity .3s ease;

    .--sent & {
      opacity: 0;
      pointer-events: none;
    }

    @media (min-width:toEm($mobile)) {
      gap: 8px;
      grid-template-columns: 1fr auto;
    }
  }

  // .form-main__msg
  &__msg {
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: 0;
    @extend %gridCenter;
    pointer-events: none;
    transition: opacity .1s ease;

    @media (min-width:toEm($mobile)) {
      justify-items: start;
    }

    .--sent & {
      opacity: 1;
      pointer-events: none;
    }
  }

  // .form-main__txt-msg
  &__txt-msg {
    @extend %flexCenter;
    gap: 16px;

    &::before {
      color: var(--green);
      font-size: 32px;
    }
  }
}


.slider-main {

  // .slider-main__slider
  &__slider {
    .swiper-pagination {
      position: absolute;
      z-index: 5;
      bottom: 30px;
      left: 50%;
      transform: translate(-50%, 0);

      @media (min-width:toEm($mobileSmall)) {
        bottom: 20px;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      @media (min-width:toEm($mobileSmall)) {
        position: absolute;
        z-index: 5;
        top: 50%;
        transform: translateY(-50%);
      }

      @media (max-width:toEm($mobileSmall)) {
        display: none;
      }
    }

    .swiper-button-prev {
      left: 20px;
    }

    .swiper-button-next {
      right: 20px;
    }
  }

  // .slider-main__wrapper
  &__wrapper {}

  // .slider-main__slide
  &__slide {}
}

%beforeGradient {
  &::before {
    content: '';
    pointer-events: none;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-image: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, #101010 100%);
  }
}

.slide-main {

  // .slide-main__item
  &__item {
    display: block;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--gray-light-2);
    aspect-ratio: 386/400;

    @media (min-width:toEm($mobileSmall)) {
      aspect-ratio: 793/400;
    }

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.03);
        }
      }
    }

    img {
      transition: transform 1s ease;
      aspect-ratio: 386/400;

      @media (min-width:toEm($mobileSmall)) {
        aspect-ratio: 793/400;
      }
    }

    // &::before {
    //   content:'';
    //   pointer-events: none;
    //   position: absolute;
    //   z-index: 1;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    //   height: 50%;
    //   background-image: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, #101010 100%);
    // }
    @extend %beforeGradient;
  }

  // .slide-main__txt
  &__txt {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    padding-inline: 20px;
    padding-block: 64px;
    color: var(--white);

    @media (min-width:toEm($mobileSmall)) {
      padding-block: 48px;
    }

    p {}
  }
}




.about-block {

  // .about-block__container
  &__container {}

  // .about-block__text
  &__text {
    line-height: 1.7;

    p {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    a {
      color: var(--green);
    }
  }
}


.assistant {

  // .assistant__container
  &__container {}

  // .assistant__body
  &__body {
    background-color: var(--primary);
    border-radius: 8px;
    padding-block: 30px 45px;

    @media (min-width:toEm($mobile)) {
      padding-block: 30px;
    }
  }

  // .assistant__wrapper
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width:toEm($mobile)) {
      flex-direction: column;
      padding-inline: 20px;
    }
  }

  // .assistant__img
  &__img {
    @media (min-width:toEm($mobile)) {
      margin-left: 30px;
    }

    img {
      @extend %ibg;
      max-width: 84px;
    }
  }

  // .assistant__text
  &__text {
    color: var(--white);

    @media (max-width:toEm($mobile)) {
      align-self: flex-start;
    }
  }

  // .assistant__link-body
  &__link-body {
    @media (min-width:toEm($mobile)) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 30px;
    }

    @media (max-width:toEm($mobile)) {
      padding-inline: 20px;
    }
  }

  // .assistant__link
  &__link {}
}


.news {

  // .news__body
  &__body {}
}

.body-news {

  // .body-news__wrapper
  &__wrapper {
    position: relative;
    @extend %beforeGradient;

    &::before {
      z-index: 3;
      height: 390px;
      bottom: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    }
  }

  // .body-news__left
  &__left {
    .body-news__clmns {
      .body-news__clm {
        &:nth-child(1) {
         
          .card-news {
            @media (max-width:toEm($mobile)){
             display: none; 
            }
            &:first-child {
              display: block;
            }
            
          }
        }
        &:nth-child(2) {
          @media (max-width:toEm($mobile)){
             display: none; 
          }
        }
      }
    }
  }

  // .body-news__top
  &__top {}

  // .body-news__clmns
  &__clmns {
    display: grid;
    @media (min-width:toEm($mobile)) {
      grid-template-columns: repeat(2, 1fr);
    }
    // @media (max-width:toEm($mobile)){
    //    display: none; 
    // }
  }

  // .body-news__clm
  &__clm {
    @media (min-width:toEm($mobile)) {
      overflow: hidden;
      height: 500px;
    }
  }

  // .body-news__right
  &__right {
    @media (min-width:toEm($mobile)) {
      align-self: flex-start;
    }
    @media (max-width:toEm($mobile)){
       display: none; 
    }

    .body-news__top {
      @media (max-width:toEm($mobile)){
         display: none; 
      }
    }
  }

  // .body-news__footer
  &__footer {
    position: relative;
    z-index: 4;
    display: grid;

    @media (min-width:toEm($mobile)) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  // .body-news__btn
  &__btn {
    margin-top: -40px;

    @media (min-width:toEm($mobile)) {
      grid-column: 2/3;
    }
  }
}

.programs {

  // .programs__container
  &__container {}

  // .programs__title
  &__title {}

  // .programs__body
  &__body {
    position: relative;
    @extend %beforeGradient;

    &::before {
      @media (min-width:toEm(820.98)) {
        z-index: 3;
        height: 150px;
        bottom: 0;
        background: linear-gradient(180deg, rgba(235, 235, 235, 0) 0%, #ebebeb 80%);
      }

      @media (max-width: toEm(820.98)) {
        display: none;
      }
    }

    margin-bottom: 30px;

    @media (min-width:toEm(820.98)) {
      margin-bottom: 0px;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  // .programs__footer
  &__footer {
    position: relative;
    z-index: 4;

    @media (min-width:toEm(820.98)) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  // .programs__link
  &__link {
    @media (min-width:toEm(820.98)) {
      margin-top: -120px;
      grid-column: 2/3;
      height: 40px;
    }
  }

}


.link-form {

  // .link-form__container
  &__container {}

  // .link-form__item
  &__item {
    @media (min-width:toEm($mobile)) {
      background-color: var(--primary);
      padding: 50px;
      border-radius: 8px;
      align-items: center;
    }
  }

  // .link-form__txt
  &__txt {
    color: var(--white);

    @media (max-width:toEm($mobile)) {
      padding: 20px 24px;
      border-radius: 8px;
      background-color: var(--primary);
    }

    p {
      @media (min-width:toEm($mobile)) {
        max-width: 630px;
      }
    }
  }

  // .link-form__link-wr
  &__link-wr {}

  // .link-form__link
  &__link {}
}


.goto-reg {

  // .goto-reg__container
  &__container {}

  // .goto-reg__title

  &__title {
    margin-bottom: 24px;

    @media (min-width:toEm($mobileSmall)) {
      margin-bottom: 48px;
      text-align: center;
    }

    @media (max-width:toEm($mobileSmall)) {
      font-size: 24px;
    }
  }

  // .goto-reg__link
  &__link {
    @media (min-width:toEm($mobileSmall)) {
      max-width: 356px;
      margin-inline: auto;
    }
  }

}








.cards-link {
  background-color: var(--white);
  border-radius: 8px;
  padding-inline: 20px;
  padding-block: 36px;

  @media (min-width:toEm($mobileSmall)) {
    padding-inline: 16px 20px;
  }

  // .cards-link--green
  &--green {
    background-color: var(--green);
  }

  // .cards-link__picture
  &__picture {
    margin-bottom: 14px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  // .cards-link__list
  &__list {}

  // .cards-link__item
  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  // .cards-link__link
  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    transition: color .3s ease;
    gap: 16px;

    span {
      line-height: 1.33;
      font-weight: 700;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--green);
      }
    }

    .cards-link--green & {
      @media (any-hover: hover) {
        &:hover {
          color: var(--white);
        }
      }
    }

    &::before {
      flex: 0 0 30px;
      font-size: 30px;
      width: 30px;
      aspect-ratio: 1;
      transform: scaleX(-1);
    }
  }
}



.slider-events {
  @media (max-width:toEm($mobile)) {
    margin-bottom: 48px;
  }

  // .slider-events__container
  &__container {}

  // .slider-events__title
  &__title {}

  // .slider-events__slider
  &__slider {
    overflow: visible !important;
  }

  // .slider-events__wrapper
  &__wrapper {}

  // .slider-events__slide
  &__slide {}

  // .slider-events__buttons

  &__buttons {}
}

.video-block__buttons,
.slider-events__buttons {
  pointer-events: none;
  @extend %flexCenter;

  @media (min-width:toEm($mobile)) {
    justify-content: flex-end;
    gap: 10px;
    margin-top: 50px;
  }

  @media (max-width:toEm($mobile)) {
    display: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    pointer-events: all;
    color: var(--primary);

    @media (any-hover: hover) {
      &:hover {
        color: var(--green);
      }
    }
  }
}

.video-block__buttons {
  @media (max-width:toEm($mobile)) {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    @media (max-width:toEm($mobile)) {
      width: 40px;
      height: 40px;

      &::before {
        background-color: var(--white);
        border: 1px solid var(--white);
        border-radius: 50%;
        font-size: 40px;
      }
    }
  }

  .swiper-button-prev {
    @media (max-width:toEm($mobile)) {
      transform: translate(-40%, -50%);
    }
  }

  .swiper-button-next {
    @media (max-width:toEm($mobile)) {
      transform: translate(40%, -50%);
    }
  }
}

.slide-block {

  // .slide-block__link
  &__link {
    background-color: var(--gray-light-2);
    display: block;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.03);
        }
      }
    }

    img {
      aspect-ratio: 522/270;
      transition: transform 1s ease;
    }
  }
}


.video-block {

  // .video-block__container
  &__container {}

  // .video-block__title
  &__title {}

  // .video-block__slider
  &__slider {
    overflow: visible !important;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  // .video-block__wrapper
  &__wrapper {}

  // .video-block__slide
  &__slide {}

  // .video-block__buttons
  &__buttons {}

  // .video-block__footer
  &__footer {

    // display: grid;
    // grid-template-columns: repeat(3,1fr);
    @media (min-width:toEm($mobileSmall)) {
      max-width: 386px;
      margin-inline: auto;
    }
  }

  // .video-block__link
  &__link {
    // grid-column: 2/3;
    // @media (min-width:toEm($mobileSmall)){
    //   max-width: 386px;
    //   margin-inline: auto;
    // }
  }
}

// == PAGE CUSTOMER =======================
.customer-hero {

  // .customer-hero__container
  &__container {}

  // .customer-hero__title
  &__title {}

  // .customer-hero__instuctions
  &__instuctions {
    .instructions-spollers {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  // .customer-hero__link
  &__link {
    max-width: 386px !important;
    margin-inline: auto;
  }
}

.instructions {

  // .instructions__title
  &__title {}
}

// +++++++++++++++++++++++++++++++++++++++


.tools {

  // .tools__container
  &__container {}

  // .tools__title
  &__title {}

  // .tools__body
  &__body {
    border-radius: 8px;
    background-color: var(--green);
    padding: 36px 20px;

    @media (min-width:toEm($mobileSmall)) {
      padding: 30px;
    }

    .cards-link__list {
      // display: flex;
      // align-items: center;
      // flex-wrap: wrap;
      // flex-direction: column;
      gap: 24px;
      // @media (min-width:toEm($tablet)){
      // 	justify-content: space-around;
      // }
      // @media (min-width:toEm($mobile)){
      // 	 flex-direction: row; 
      // }
      display: grid;

      @media (min-width:toEm($tablet)) {
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: toEm($tablet)) and (min-width:toEm($mobile)) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .cards-link__item {
      margin-bottom: 0;
    }

    .cards-link__link {
      @media (min-width:toEm(375.98)) {
        font-size: 18px;
      }

      @media (any-hover: hover) {
        &:hover {
          color: var(--white);
        }
      }
    }
  }
}

.hero-news {

  // .hero-news__container
  &__container {}

  // .hero-news__title
  &__title {}

  // .hero-news__body
  &__body {
    .body-main__cards {
      @media (max-width:toEm($mobileSmall)) {
        display: none;
      }
    }
  }
}



.list-news {
  border-radius: 8px;
  padding: 20px;
  min-height: 100%;

  .card-news__time {
    color: var(--primary);
  }

  >* {
    &:not(:last-child) {
      margin-bottom: 24px;

      @media (min-width:toEm($mobileSmall)) {
        margin-bottom: 11px;
      }
    }
  }
}

.all-news {

  // .all-news__container
  &__container {}

  // .all-news__title
  &__title {}

  // .all-news__body
  &__body {}

  // .all-news__top
  &__top {
    margin-bottom: 24px;

    @media (min-width:toEm($mobile)) {
      margin-bottom: 22px;
    }
  }

  // .all-news__slider
  &__slider {}

  // .all-news__wrapper
  &__wrapper {
    @media (min-width:toEm($mobile)) {
      display: grid;
      gap: 22px;
    }

    @media (min-width:toEm($tablet)) {
      grid-template-columns: 66% auto;
    }

    @media (max-width: toEm($tablet)) and (min-width: toEm($mobile)) {
      grid-template-columns: 1fr 1fr;
    }

  }

  // .all-news__slide
  &__slide {}

  // .all-news__content
  &__content {
    display: grid;
    grid-template-columns: 100%;
    gap: 24px;

    margin-bottom: 50px;

    @media (min-width:toEm($tablet)) {
      gap: 20px;
      grid-template-columns: 66% auto;
    }

    @media (max-width:toEm($tablet)) and (min-width: toEm(650.98)) {
      grid-template-columns: 1fr 1fr;
    }

    .card-news--t5 {
      @media (max-width:toEm($tablet)) {
        display: block;
      }

      .card-news__picture {
        @media (max-width:toEm($tablet)) {
          display: none;
        }
      }
    }
  }

  // .all-news__btn
  &__btn {
    width: 100%;
    @media (min-width:toEm($mobileSmall)){
      width: auto;
      min-width: 386px;
      max-width: 386px;
      margin-inline: auto;
    }
  }
}


.pagination {
  
  // .pagination__body
  &__body {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
		}

  // .pagination__button
  &__button {
    &[disabled] {}
  }

  // .pagination__items

  &__items {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  // .pagination__item

  &__item {
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 1.71;
    font-weight: 700;

    span {
      display: grid;
      place-items: center;
      width: 100%;
      height: 100%;
    }
  }

  // .pagination__link
  &__link,
  &__button {
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 8px;
    transition: background-color .3s ease;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--green-4);
      }
    }

    &.active {
      background-color: var(--green);
    }
    &:active {
      background-color: var(--green);
    }
  }
}

.experts {
		// .experts__container
		&__container {
		}

		// .experts__title
		&__title {
		}
    
    // .experts__body
    &__body {
      >* {
        &:not(:last-child) {
          margin-bottom: 24px;

          @media (min-width:toEm($mobileSmall)) {
            margin-bottom: 22px;
          }
        }
      }
      .card-news {
        @media (max-width: toEm(600.98)){
          display: block;
        }
        .card-news__picture {
          @media (max-width: toEm(600.98)){
            display: none;
          }
        }
      }
    }
}

.article {
		// .article__head
		&__head {
		}

		// .article__content
		&__content {
		}

		// .article__container
		&__container {
    }
  }
  
  .head-article {
    margin-bottom: 8px;
    @media (min-width:toEm($mobileSmall)){
      margin-bottom: 20px; 
    }
		// .head-article__container
		&__container {
      display: flex;
      gap: 15px;
      flex-direction: column;
      @media (min-width:toEm($mobile)){
        justify-content: space-between;
        flex-direction: row;
      }
		}

		// .head-article__tags
		&__tags {
		}

		// .head-article__info
		&__info {
      display: flex;
      flex-wrap: wrap;
      gap: 8px 42px;
      @media (min-width:toEm($mobileSmall)){
        align-items: center;
      }
      @media (max-width:toEm($mobileSmall)){
         flex-direction: column; 
      }
		}

    &__time,
    &__view {
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--gray-dark);
      &::before {
        font-size: 24px;
        color: var(--primary);
      }
    }

		// .head-article__time
		&__time {
		}
    
		// .head-article__view
		&__view {
		}
}

.article-program {
}
.author-article {

		// .author-article__container

		&__container {
		}
}
.comments {

		// .comments__content

		&__content {
		}
}
