<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<main class="page page--home">
	<section class="main pdb-1">
		<div class="main__container">
			<div class="main__head grid-clm">
				<h1 class="main__title title-main">Від новачка до профі
					у Prozorro та Prozorro.Продажі — разом
					з <span>blog.zakupivli.pro</span>
				</h1>
				<div class="main__form form-main">
					<div class="form-main__text">
						<p>Приєднуйтесь, щоб дізнаватись найцікавіше про <a href="#" aria-label="link">закупівлі</a>, <a href="#" aria-label="link">тендери</a> та <a href="#" aria-label="link">аукціони</a></p>
					</div>
					<form class="form-main__form form" data-fls-form="dev" action="#" method="POST">
						<div class="form-main__body">
							<div data-fls-form-item class="form__item">
								<input data-fls-input data-fls-form-errtext="Вкажіть e-mail" required type="email" name="email" placeholder="E-mail" class="form__input input">
								<button data-fls-clear type="button" aria-label="clear input" class="form__clear --icon-cross"></button>
							</div>
							<button data-fls-buttons type="submit" aria-label="submit" class="form__submit btn btn--green">Підписатись</button>
						</div>
						<div class="form-main__msg title-card">
							<p class="form-main__txt-msg --icon-donelight">Дякуємо за підписку!</p>
						</div>
					</form>
				</div>
			</div>
			<div class="main__body body-main">
				<div class="body-main__left">
					<div class="body-main__slider slider-main">
						<div data-fls-slider class="slider-main__slider swiper">
							<ul class="slider-main__wrapper swiper-wrapper">
								<li class="slider-main__slide slide-main swiper-slide">
									<a href="#" aria-label="article link" class="slide-main__item">
										<img class="ibg" src="@img/main/main-1.jpg" width="793" height="400" alt="Image">
										<div class="slide-main__txt title-card">
											<p>Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro</p>
										</div>
									</a>
								</li>
								<li class="slider-main__slide slide-main swiper-slide">
									<a href="#" aria-label="article link" class="slide-main__item">
										<img class="ibg" src="@img/main/main-2.jpg" width="793" height="400" alt="Image">
										<div class="slide-main__txt title-card">
											<p>Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro</p>
										</div>
									</a>
								</li>
								<li class="slider-main__slide slide-main swiper-slide">
									<a href="#" aria-label="article link" class="slide-main__item">
										<img class="ibg" src="@img/main/main-3.jpg" width="793" height="400" alt="Image">
										<div class="slide-main__txt title-card">
											<p>Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro</p>
										</div>
									</a>
								</li>
								<li class="slider-main__slide slide-main swiper-slide">
									<a href="#" aria-label="article link" class="slide-main__item">
										<img class="ibg" src="@img/main/main-1.jpg" width="793" height="400" alt="Image">
										<div class="slide-main__txt title-card">
											<p>Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro</p>
										</div>
									</a>
								</li>
								<li class="slider-main__slide slide-main swiper-slide">
									<a href="#" aria-label="article link" class="slide-main__item">
										<img class="ibg" src="@img/main/main-2.jpg" width="793" height="400" alt="Image">
										<div class="slide-main__txt title-card">
											<p>Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro</p>
										</div>
									</a>
								</li>
								<li class="slider-main__slide slide-main swiper-slide">
									<a href="#" aria-label="article link" class="slide-main__item">
										<img class="ibg" src="@img/main/main-3.jpg" width="793" height="400" alt="Image">
										<div class="slide-main__txt title-card">
											<p>Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro</p>
										</div>
									</a>
								</li>
							</ul>
							<div class="swiper-pagination"></div>
							<button type="button" class="swiper-button-prev --icon-fill-arrow" aria-label="button prev"></button>
							<button type="button" class="swiper-button-next --icon-fill-arrow" aria-label="button next"></button>
						</div>
					</div>
					<div class="body-main__cards">
						<div class="cards-link cards-link--green">
							<div class="cards-link__picture">
								<img src="@img/logos/prozorro.png" width="95" height="19" alt="Image">
							</div>
							<ul class="cards-link__list">
								<li class="cards-link__item">
									<a href="#" class="cards-link__link --icon-fill-arrow" aria-label="link"><span>Державному замовнику</span></a>
								</li>
								<li class="cards-link__item">
									<a href="#" class="cards-link__link --icon-fill-arrow" aria-label="link"><span>Комерційному замовнику</span></a>
								</li>
								<li class="cards-link__item">
									<a href="#" class="cards-link__link --icon-fill-arrow" aria-label="link"><span>Постачальнику</span></a>
								</li>
							</ul>
						</div>
						<div class="cards-link">
							<div class="cards-link__picture">
								<img src="@img/logos/prozorro-prodazhi.svg" width="109" height="30" alt="Image">
							</div>
							<ul class="cards-link__list">
								<li class="cards-link__item">
									<a href="#" class="cards-link__link --icon-fill-arrow" aria-label="link"><span>Учаснику аукціонів</span></a>
								</li>
								<li class="cards-link__item">
									<a href="#" class="cards-link__link --icon-fill-arrow" aria-label="link"><span>Організатору аукціонів</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="body-main__right">
					<include src="@components/custom/calendar/calendar.html"></include>
				</div>
			</div>
		</div>
	</section>
	<div class="white-wrapper mb-1">
		<div class="about-block mb-1">
			<div class="about-block__container">
				<div class="about-block__text">
					<p>blog.zakupivli.pro - це офіційний блог українського електронного майданчика <a href="#" aria-label="link">Zakupivli.Pro</a>, акредитованого в системі Prozorro та Prozorro.Продажі, який є найбільшою базою знань у сфері державних та
						комерційних закупівель та аукціонів.
						На блозі ви знайдете актуальні новини, корисні поради, інструкції, анонси подій, навчальні курси для державних, комерційних замовників, постачальників, учасників та організаторів аукціонів. </p>
				</div>
			</div>
		</div>
		<div class="assistant">
			<div class="assistant__container">
				<div class="assistant__body grid-clm">
					<div class="assistant__wrapper">
						<div class="assistant__img">
							<img src="@img/pictures/zakupaiko.png" width="84" height="93" alt="Image">
						</div>
						<div class="assistant__text title-card">
							<p>Закупайко - AI-асистент, який допоможе вам із закупівлями<br>Швидкі відповіді 24/7 </p>
						</div>
					</div>
					<div class="assistant__link-body">
						<a href="https://t.me/The_FirstLine_bot?utm_source=newsletter&utm_medium=email&utm_campaign=01042025_web " target="_blank" data-fls-buttons class="assistant__link btn btn--green btn--fw" aria-label="link">Спробувати</a>
					</div>
				</div>
			</div>
		</div>
		<div class="divide">
			<div class="divide__container">
				<span></span>
			</div>
		</div>
		<section class="news ">
			<div class="news__container">
				<h2 class="news__title title-main title-main--mb">Останні новини</h2>
				<div class="news__body body-news mb-1">
					<div class="body-news__wrapper grid-clm">
						<div class="body-news__left grid-gap">
							<div class="body-news__top">
								<article data-fls-cardnews class="card-news card-news--t1">
									<a href="#" class="card-news__picture" aria-label="link to the article">
										<img src="@img/main/main-1.jpg" width="753" height="230" alt="Image">
									</a>
									<div class="card-news__body">
										<p class="card-news__time">
											<time datetime="2025-04-10">10 квітня 2025</time>
										</p>
										<div class="card-news__tags">
											<a href="#" data-fls-tags class="tag tag--1" aria-label="tag link">Назва тегу</a>
											<a href="#" data-fls-tags class="tag tag--2" aria-label="tag link">Довга назва тегу</a>
											<a href="#" data-fls-tags class="tag tag--3" aria-label="tag link">Назва тегу</a>
										</div>
										<h2 class="card-news__title title-card">
											<a href="#" aria-label="link to the article">
												Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
											</a>
										</h2>
										<div class="card-news__text">
											<p>
												Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені
												процедури дозволяють зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
											</p>
										</div>
									</div>
								</article>
							</div>
							<div class="body-news__clmns grid-gap">
								<div class="body-news__clm grid-gap">
									<article data-fls-cardnews class="card-news card-news--t2">
										<div class="card-news__body">
											<p class="card-news__time">
												<time datetime="2025-04-10">10 квітня 2025</time>
											</p>
											<div class="card-news__tags">
												<a href="#" data-fls-tags class="tag tag--1" aria-label="tag link">Назва тегу</a>
												<a href="#" data-fls-tags class="tag tag--2" aria-label="tag link">Довга назва тегу</a>
												<a href="#" data-fls-tags class="tag tag--3" aria-label="tag link">Назва тегу</a>
											</div>
											<h2 class="card-news__title title-card">
												<a href="#" aria-label="link to the article">
													Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
												</a>
											</h2>
											<div class="card-news__text">
												<p>
													Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені
													процедури дозволяють зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
												</p>
											</div>
										</div>
									</article>
									<article data-fls-cardnews class="card-news card-news--t1">
										<a href="#" class="card-news__picture" aria-label="link to the article">
											<img src="@img/main/main-2.jpg" width="753" height="230" alt="Image">
										</a>
										<div class="card-news__body">
											<p class="card-news__time">
												<time datetime="2025-04-10">10 квітня 2025</time>
											</p>
											<div class="card-news__tags">
												<a href="#" data-fls-tags class="tag tag--1" aria-label="tag link">Назва тегу</a>
												<a href="#" data-fls-tags class="tag tag--2" aria-label="tag link">Довга назва тегу</a>
												<a href="#" data-fls-tags class="tag tag--3" aria-label="tag link">Назва тегу</a>
											</div>
											<h2 class="card-news__title title-card">
												<a href="#" aria-label="link to the article">
													Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
												</a>
											</h2>
											<div class="card-news__text">
												<p>
													Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені
													процедури дозволяють зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
												</p>
											</div>
										</div>
									</article>
								</div>
								<div class="body-news__clm grid-gap">
									<article data-fls-cardnews class="card-news card-news--t1">
										<a href="#" class="card-news__picture" aria-label="link to the article">
											<img src="@img/main/main-2.jpg" width="753" height="230" alt="Image">
										</a>
										<div class="card-news__body">
											<p class="card-news__time">
												<time datetime="2025-04-10">10 квітня 2025</time>
											</p>
											<div class="card-news__tags">
												<a href="#" data-fls-tags class="tag tag--1" aria-label="tag link">Назва тегу</a>
												<a href="#" data-fls-tags class="tag tag--2" aria-label="tag link">Довга назва тегу</a>
												<a href="#" data-fls-tags class="tag tag--3" aria-label="tag link">Назва тегу</a>
											</div>
											<h2 class="card-news__title title-card">
												<a href="#" aria-label="link to the article">
													Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
												</a>
											</h2>
											<div class="card-news__text">
												<p>
													Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені
													процедури дозволяють зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
												</p>
											</div>
										</div>
									</article>
								</div>
							</div>
						</div>
						<div class="body-news__right grid-gap">
							<div class="body-news__top">
								<article data-fls-cardnews class="card-news card-news--t1">
									<a href="#" class="card-news__picture" aria-label="link to the article">
										<img src="@img/main/main-2.jpg" width="753" height="230" alt="Image">
									</a>
									<div class="card-news__body">
										<p class="card-news__time">
											<time datetime="2025-04-10">10 квітня 2025</time>
										</p>
										<div class="card-news__tags">
											<a href="#" data-fls-tags class="tag tag--1" aria-label="tag link">Назва тегу</a>
											<a href="#" data-fls-tags class="tag tag--2" aria-label="tag link">Довга назва тегу</a>
											<a href="#" data-fls-tags class="tag tag--3" aria-label="tag link">Назва тегу</a>
										</div>
										<h2 class="card-news__title title-card">
											<a href="#" aria-label="link to the article">
												Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
											</a>
										</h2>
										<div class="card-news__text">
											<p>
												Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені
												процедури дозволяють зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
											</p>
										</div>
									</div>
								</article>
							</div>
							<div class="body-news__clm grid-gap">
								<article data-fls-cardnews class="card-news card-news--t3">
									<div class="card-news__body">
										<p class="card-news__time">
											<time datetime="2025-04-10">10 квітня 2025</time>
										</p>
										<h2 class="card-news__title title-card">
											<a href="#" aria-label="link to the article">
												Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
											</a>
										</h2>
										<div class="card-news__text">
											<p>
												Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені
												процедури дозволяють зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
											</p>
										</div>
									</div>
								</article>
								<article data-fls-cardnews class="card-news card-news--t4">
									<a href="#" class="card-news__picture" aria-label="link to the article">
										<img src="@img/main/main-1.jpg" width="753" height="230" alt="Image">
									</a>
									<div class="card-news__body">
										<p class="card-news__time">
											<time datetime="2025-04-10">10 квітня 2025</time>
										</p>
										<div class="card-news__tags">
											<a href="#" data-fls-tags class="tag tag--1" aria-label="tag link">Назва тегу</a>
											<a href="#" data-fls-tags class="tag tag--2" aria-label="tag link">Довга назва тегу</a>
										</div>
										<h2 class="card-news__title title-card">
											<a href="#" aria-label="link to the article">
												Як полегшити закупівлі на Zakupivli.Pro.
											</a>
										</h2>
									</div>
								</article>
								<article data-fls-cardnews class="card-news card-news--t3">
									<div class="card-news__body">
										<p class="card-news__time">
											<time datetime="2025-04-10">10 квітня 2025</time>
										</p>
										<h2 class="card-news__title title-card">
											<a href="#" aria-label="link to the article">
												Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
											</a>
										</h2>
										<div class="card-news__text">
											<p>
												Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені
												процедури дозволяють зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
											</p>
										</div>
									</div>
								</article>
							</div>
						</div>
					</div>
					<div class="body-news__footer grid-gap">
						<a href="#" data-fls-buttons class="body-news__btn btn btn--green btn--fw" aria-label="link to the page">Більше новин</a>
					</div>
				</div>
				<include src="@components/custom/subscribe/subscribe.html"></include>
			</div>
		</section>
	</div>
	<section class="slider-events">
		<div class="slider-events__container">
			<h2 class="slider-events__title title-main title-main--mb">Події</h2>
			<div data-fls-slider class="slider-events__slider swiper">
				<div class="slider-events__wrapper swiper-wrapper">
					<div class="slider-events__slide slide-block swiper-slide">
						<a href="#" class="slide-block__link" aria-label="link to the events">
							<img class="ibg" src="@img/pictures/event-1.jpg" width="522" height="270" alt="Image">
						</a>
					</div>
					<div class="slider-events__slide slide-block swiper-slide">
						<a href="#" class="slide-block__link" aria-label="link to the events">
							<img class="ibg" src="@img/pictures/event-2.jpg" width="522" height="270" alt="Image">
						</a>
					</div>
					<div class="slider-events__slide slide-block swiper-slide">
						<a href="#" class="slide-block__link" aria-label="link to the events">
							<img class="ibg" src="@img/pictures/event-3.jpg" width="522" height="270" alt="Image">
						</a>
					</div>
					<div class="slider-events__slide slide-block swiper-slide">
						<a href="#" class="slide-block__link" aria-label="link to the events">
							<img class="ibg" src="@img/pictures/event-1.jpg" width="522" height="270" alt="Image">
						</a>
					</div>
					<div class="slider-events__slide slide-block swiper-slide">
						<a href="#" class="slide-block__link" aria-label="link to the events">
							<img class="ibg" src="@img/pictures/event-2.jpg" width="522" height="270" alt="Image">
						</a>
					</div>
					<div class="slider-events__slide slide-block swiper-slide">
						<a href="#" class="slide-block__link" aria-label="link to the events">
							<img class="ibg" src="@img/pictures/event-3.jpg" width="522" height="270" alt="Image">
						</a>
					</div>
				</div>
				<div class="slider-events__buttons">
					<button type="button" class="swiper-button-prev --icon-fill-arrow" aria-label="button prev"></button>
					<button type="button" class="swiper-button-next --icon-fill-arrow" aria-label="button next"></button>
				</div>
			</div>
		</div>
	</section>
	<section class="video-block mb-1">
		<div class="video-block__container">
			<h2 class="video-block__title title-main title-main--mb">Цікаві відео</h2>
			<div data-fls-slider class="video-block__slider swiper">
				<div class="video-block__wrapper swiper-wrapper">
					<div class="video-block__slide slide-video swiper-slide">
						<div data-fls-videobutton class="video-youtube__body">
							<button class="video-youtube__button" type="button" data-youtube="gwOmuVNsQCU" aria-label="open youtube">
								<img class="ibg" src="@img/pictures/video-2.jpg" width="482" height="270" alt="poster video">
							</button>
						</div>
					</div>
					<div class="video-block__slide slide-video swiper-slide">
						<div data-fls-videobutton class="video-youtube__body">
							<button class="video-youtube__button" type="button" data-youtube="74Xv9oljqd4" aria-label="open youtube">
								<img class="ibg" src="@img/pictures/video-4.jpg" width="482" height="270" alt="poster video">
							</button>
						</div>
					</div>
					<div class="video-block__slide slide-video swiper-slide">
						<div data-fls-videobutton class="video-youtube__body">
							<button class="video-youtube__button" type="button" data-youtube="9JKLRtlartU" aria-label="open youtube">
								<img class="ibg" src="@img/pictures/video-3.jpg" width="482" height="270" alt="poster video">
							</button>
						</div>
					</div>
					<div class="video-block__slide slide-video swiper-slide">
						<div data-fls-videobutton class="video-youtube__body">
							<button class="video-youtube__button" type="button" data-youtube="l_iBc9PcIe8" aria-label="open youtube">
								<img class="ibg" src="@img/pictures/video-2.jpg" width="482" height="270" alt="poster video">
							</button>
						</div>
					</div>


					<div class="video-block__slide slide-video swiper-slide">
						<div data-fls-videobutton class="video-youtube__body">
							<button class="video-youtube__button" type="button" data-youtube="l_iBc9PcIe8" aria-label="open youtube">
								<img class="ibg" src="@img/pictures/video-2.jpg" width="482" height="270" alt="poster video">
							</button>
						</div>
					</div>
				</div>

				<div class="video-block__buttons">
					<button type="button" class="swiper-button-prev --icon-fill-arrow" aria-label="button prev"></button>
					<button type="button" class="swiper-button-next --icon-fill-arrow" aria-label="button next"></button>
				</div>
			</div>
			<div class="video-block__footer">
				<a href="https://www.youtube.com/channel/UCxGYp5o-bfPuFJAi3KSnZ8Q" target="_blank" data-fls-buttons class="video-block__link btn btn--fw btn--green" aria-label="до ютюб каналу">Перейти до YouTube каналу </a>
			</div>
		</div>
	</section>
	<section class="programs mb-1">
		<div class="programs__container">
			<h2 class="programs__title title-main title-main--mb">Партнерські програми</h2>
			<div class="programs__body grid-gap">
				<article data-fls-cardnews class="card-news card-news--t6">
					<a href="#" class="card-news__picture" aria-label="link to the article">
						<img src="@img/partners/partners-1.jpg" width="346" height="230" alt="Image">
					</a>
					<div class="card-news__body">
						<h2 class="card-news__title title-card">
							<a href="#" aria-label="link to the article">
								Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
							</a>
						</h2>
						<div class="card-news__text">
							<p>
								Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені
								процедури дозволяють зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
							</p>
						</div>
						<div class="card-news__more">
							<a href="#" class="card-news__more-link">Детальніше</a>
						</div>
					</div>
				</article>
				<article data-fls-cardnews class="card-news card-news--t6">
					<a href="#" class="card-news__picture" aria-label="link to the article">
						<img src="@img/partners/partners-2.jpg" width="346" height="230" alt="Image">
					</a>
					<div class="card-news__body">
						<h2 class="card-news__title title-card">
							<a href="#" aria-label="link to the article">
								Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
							</a>
						</h2>
						<div class="card-news__text">
							<p>
								Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає.
							</p>
						</div>
						<div class="card-news__more">
							<a href="#" class="card-news__more-link">Детальніше</a>
						</div>
					</div>
				</article>
				<article data-fls-cardnews class="card-news card-news--t6">
					<a href="#" class="card-news__picture" aria-label="link to the article">
						<img src="@img/partners/partners-3.jpg" width="346" height="230" alt="Image">
					</a>
					<div class="card-news__body">
						<h2 class="card-news__title title-card">
							<a href="#" aria-label="link to the article">
								Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
							</a>
						</h2>
						<div class="card-news__text">
							<p>
								Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені
								процедури дозволяють зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
							</p>
						</div>
						<div class="card-news__more">
							<a href="#" class="card-news__more-link">Детальніше</a>
						</div>
					</div>
				</article>
				<article data-fls-cardnews class="card-news card-news--t6">
					<a href="#" class="card-news__picture" aria-label="link to the article">
						<img src="@img/partners/partners-4.jpg" width="346" height="230" alt="Image">
					</a>
					<div class="card-news__body">
						<h2 class="card-news__title title-card">
							<a href="#" aria-label="link to the article">
								Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
							</a>
						</h2>
						<div class="card-news__text">
							<p>
								Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені
								процедури дозволяють зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
							</p>
						</div>
						<div class="card-news__more">
							<a href="#" class="card-news__more-link">Детальніше</a>
						</div>
					</div>
				</article>
				<article data-fls-cardnews class="card-news card-news--t6">
					<a href="#" class="card-news__picture" aria-label="link to the article">
						<img src="@img/partners/partners-5.jpg" width="346" height="230" alt="Image">
					</a>
					<div class="card-news__body">
						<h2 class="card-news__title title-card">
							<a href="#" aria-label="link to the article">
								Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
							</a>
						</h2>
						<div class="card-news__text">
							<p>
								Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені
								процедури дозволяють зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
							</p>
						</div>
						<div class="card-news__more">
							<a href="#" class="card-news__more-link">Детальніше</a>
						</div>
					</div>
				</article>
				<article data-fls-cardnews class="card-news card-news--t6">
					<a href="#" class="card-news__picture" aria-label="link to the article">
						<img src="@img/partners/partners-6.jpg" width="346" height="230" alt="Image">
					</a>
					<div class="card-news__body">
						<h2 class="card-news__title title-card">
							<a href="#" aria-label="link to the article">
								Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
							</a>
						</h2>
						<div class="card-news__text">
							<p>
								Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені
								процедури дозволяють зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
							</p>
						</div>
						<div class="card-news__more">
							<a href="#" class="card-news__more-link">Детальніше</a>
						</div>
					</div>
				</article>
			</div>
			<div class="programs__footer grid-gap">
				<a href="#" target="_blank" data-fls-buttons class="programs__link btn btn--fw btn--green" aria-label="посилання">Хочу стати партнером</a>
			</div>
		</div>
	</section>
	<div class="link-form mb-1">
		<div class="link-form__container">
			<div class="link-form__item grid-clm">
				<div class="link-form__txt title-card">
					<p>Якщо ви маєте питання або побажання по темам, на які хотілося б почути відповідь - заповніть форму </p>
				</div>
				<div class="link-form__link-wr">
					<a href="#" target="_blank" data-fls-buttons class="link-form__link btn btn--fw btn--green" aria-label="посилання">Заповнити форму</a>
				</div>
			</div>
		</div>
	</div>
	<div class="goto-reg mb-1">
		<div class="goto-reg__container">
			<div class="goto-reg__title title-card">
				<p>Почати роботу на майданчику Zakupivli.Pro</p>
			</div>
			<a href="https://zakupivli.pro/signin" data-fls-buttons class="goto-reg__link btn btn--fw btn--green" aria-label="перейти до реєстрації">Перейти до реєстрації</a>
		</div>
	</div>
</main>