.block-cards {
		// .block-cards__container
		&__container {
		}

		// .block-cards__title
		&__title {
		}

		// .block-cards__body
		&__body {
		}

		// .block-cards__slider
		&__slider {
		}

		// .block-cards__wrapper
		&__wrapper {
		}

		// .block-cards__slide
		&__slide {
		}
}

// налаштування для слайдеру (перехід до та після 600рх) знаходиться в slider.scss