<p style="margin: 50px 0 30px; font-weight: 700; font-size: 24px;">Контейнер загальний block-cards: вище 600рх звичайна сітка на 3 колонки, а нижче 600рх перетворюється на слайдер. Всередину слайду треба вставляти відповідний ".card-news"</p>

<section data-fls-blockcards class="block-cards">
  <div class="block-cards__container">
    <h2 class="block-cards__title title-av mb-3">Довідники держзамовника</h2>
    <div class="block-cards__body">
      <div data-fls-slider class="block-cards__slider swiper">
        <div class="block-cards__wrapper swiper-wrapper">
          <div class="block-cards__slide swiper-slide">
            <article data-fls-cardnews class="card-news card-news--t7">
              <a href="#" class="card-news__picture" aria-label="link to the article">
                <img src="@img/main/main-1.jpg" width="753" height="230" alt="Image">
              </a>
              <div class="card-news__body">
                <p class="card-news__time">
                  <time datetime="2025-04-10">10 квітня 2025</time>
                </p>
                <div class="card-news__tags">
                  <a href="#" data-fls-tags class="tag tag--1" aria-label="tag link">Назва тегу</a>
                  <a href="#" data-fls-tags class="tag tag--2" aria-label="tag link">Довга назва тегу</a>
                  <a href="#" data-fls-tags class="tag tag--3" aria-label="tag link">Назва тегу</a>
                </div>
                <h2 class="card-news__title title-card">
                  <a href="#" aria-label="link to the article">
                    Довідник<br> роботи з договором
                  </a>
                </h2>
              </div>
            </article>
          </div>
          <div class="block-cards__slide swiper-slide">
            <article data-fls-cardnews class="card-news card-news--t7">
              <a href="#" class="card-news__picture" aria-label="link to the article">
                <img src="@img/main/main-1.jpg" width="753" height="230" alt="Image">
              </a>
              <div class="card-news__body">
                <p class="card-news__time">
                  <time datetime="2025-04-10">10 квітня 2025</time>
                </p>
                <div class="card-news__tags">
                  <a href="#" data-fls-tags class="tag tag--1" aria-label="tag link">Назва тегу</a>
                  <a href="#" data-fls-tags class="tag tag--2" aria-label="tag link">Довга назва тегу</a>
                  <a href="#" data-fls-tags class="tag tag--3" aria-label="tag link">Назва тегу</a>
                </div>
                <h2 class="card-news__title title-card">
                  <a href="#" aria-label="link to the article">
                    Довідник<br> роботи з договором
                  </a>
                </h2>
              </div>
            </article>
          </div>
          <div class="block-cards__slide swiper-slide">
            <article data-fls-cardnews class="card-news card-news--t7">
              <a href="#" class="card-news__picture" aria-label="link to the article">
                <img src="@img/main/main-1.jpg" width="753" height="230" alt="Image">
              </a>
              <div class="card-news__body">
                <p class="card-news__time">
                  <time datetime="2025-04-10">10 квітня 2025</time>
                </p>
                <div class="card-news__tags">
                  <a href="#" data-fls-tags class="tag tag--1" aria-label="tag link">Назва тегу</a>
                  <a href="#" data-fls-tags class="tag tag--2" aria-label="tag link">Довга назва тегу</a>
                  <a href="#" data-fls-tags class="tag tag--3" aria-label="tag link">Назва тегу</a>
                </div>
                <h2 class="card-news__title title-card">
                  <a href="#" aria-label="link to the article">
                    Довідник<br> роботи з договором
                  </a>
                </h2>
              </div>
            </article>
          </div>
          <div class="block-cards__slide swiper-slide">
            <article data-fls-cardnews class="card-news card-news--t7">
              <a href="#" class="card-news__picture" aria-label="link to the article">
                <img src="@img/main/main-1.jpg" width="753" height="230" alt="Image">
              </a>
              <div class="card-news__body">
                <p class="card-news__time">
                  <time datetime="2025-04-10">10 квітня 2025</time>
                </p>
                <div class="card-news__tags">
                  <a href="#" data-fls-tags class="tag tag--1" aria-label="tag link">Назва тегу</a>
                  <a href="#" data-fls-tags class="tag tag--2" aria-label="tag link">Довга назва тегу</a>
                  <a href="#" data-fls-tags class="tag tag--3" aria-label="tag link">Назва тегу</a>
                </div>
                <h2 class="card-news__title title-card">
                  <a href="#" aria-label="link to the article">
                    Довідник<br> роботи з договором
                  </a>
                </h2>
              </div>
            </article>
          </div>
          <div class="block-cards__slide swiper-slide">
            <article data-fls-cardnews class="card-news card-news--t7">
              <a href="#" class="card-news__picture" aria-label="link to the article">
                <img src="@img/main/main-1.jpg" width="753" height="230" alt="Image">
              </a>
              <div class="card-news__body">
                <p class="card-news__time">
                  <time datetime="2025-04-10">10 квітня 2025</time>
                </p>
                <div class="card-news__tags">
                  <a href="#" data-fls-tags class="tag tag--1" aria-label="tag link">Назва тегу</a>
                  <a href="#" data-fls-tags class="tag tag--2" aria-label="tag link">Довга назва тегу</a>
                  <a href="#" data-fls-tags class="tag tag--3" aria-label="tag link">Назва тегу</a>
                </div>
                <h2 class="card-news__title title-card">
                  <a href="#" aria-label="link to the article">
                    Довідник<br> роботи з договором
                  </a>
                </h2>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>