<article data-fls-cardnews class="card-news card-news--t1">
  <a href="#" class="card-news__picture" aria-label="link to the article">
    <img src="@img/main/main-1.jpg" width="753" height="230" alt="Image">
  </a>
  <div class="card-news__body">
    <p class="card-news__time">
      <time datetime="2025-04-10">10 квітня 2025</time>
    </p>
    <div class="card-news__tags">
      <a href="#" data-fls-tags class="tag tag--1" aria-label="tag link">Назва тегу</a>
      <a href="#" data-fls-tags class="tag tag--2" aria-label="tag link">Довга назва тегу</a>
      <a href="#" data-fls-tags class="tag tag--3" aria-label="tag link">Назва тегу</a>
    </div>
    <h2 class="card-news__title title-card">
      <a href="#" aria-label="link to the article">
        Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
      </a>
    </h2>
    <div class="card-news__text">
      <p>
        Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені процедури дозволяють
        зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
      </p>
    </div>
  </div>
</article>

<article data-fls-cardnews class="card-news card-news--t2">
  <div class="card-news__body">
    <p class="card-news__time">
      <time datetime="2025-04-10">10 квітня 2025</time>
    </p>
    <div class="card-news__tags">
      <a href="#" data-fls-tags class="tag tag--1" aria-label="tag link">Назва тегу</a>
      <a href="#" data-fls-tags class="tag tag--2" aria-label="tag link">Довга назва тегу</a>
      <a href="#" data-fls-tags class="tag tag--3" aria-label="tag link">Назва тегу</a>
    </div>
    <h2 class="card-news__title title-card">
      <a href="#" aria-label="link to the article">
        Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
      </a>
    </h2>
    <div class="card-news__text">
      <p>
        Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені процедури дозволяють
        зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
      </p>
    </div>
  </div>
</article>
<article data-fls-cardnews class="card-news card-news--t3">
  <div class="card-news__body">
    <p class="card-news__time">
      <time datetime="2025-04-10">10 квітня 2025</time>
    </p>
    <h2 class="card-news__title title-card">
      <a href="#" aria-label="link to the article">
        Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
      </a>
    </h2>
    <div class="card-news__text">
      <p>
        Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені процедури дозволяють
        зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
      </p>
    </div>
  </div>
</article>
<article data-fls-cardnews class="card-news card-news--t4">
  <a href="#" class="card-news__picture" aria-label="link to the article">
    <img src="@img/main/main-1.jpg" width="753" height="230" alt="Image">
  </a>
  <div class="card-news__body">
    <p class="card-news__time">
      <time datetime="2025-04-10">10 квітня 2025</time>
    </p>
    <div class="card-news__tags">
      <a href="#" data-fls-tags class="tag tag--1" aria-label="tag link">Назва тегу</a>
      <a href="#" data-fls-tags class="tag tag--2" aria-label="tag link">Довга назва тегу</a>
    </div>
    <h2 class="card-news__title title-card">
      <a href="#" aria-label="link to the article">
        Як полегшити закупівлі на Zakupivli.Pro.
      </a>
    </h2>
  </div>
</article>

<article data-fls-cardnews class="card-news card-news--t5">
  <a href="#" class="card-news__picture" aria-label="link to the article">
    <img src="@img/main/main-1.jpg" width="753" height="230" alt="Image">
  </a>
  <div class="card-news__body">
    <p class="card-news__time">
      <time datetime="2025-04-10">10 квітня 2025</time>
    </p>
    <div class="card-news__tags">
      <a href="#" data-fls-tags class="tag tag--1" aria-label="tag link">Назва тегу</a>
      <a href="#" data-fls-tags class="tag tag--2" aria-label="tag link">Довга назва тегу</a>
      <a href="#" data-fls-tags class="tag tag--3" aria-label="tag link">Назва тегу</a>
    </div>
    <h2 class="card-news__title title-card">
      <a href="#" aria-label="link to the article">
        Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
      </a>
    </h2>
    <div class="card-news__text">
      <p>
        Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені процедури дозволяють
        зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
      </p>
    </div>
  </div>
</article>
<article data-fls-cardnews class="card-news card-news--t5 card-news--t5-full">
  <a href="#" class="card-news__picture" aria-label="link to the article">
    <img src="@img/main/main-1.jpg" width="753" height="230" alt="Image">
  </a>
  <div class="card-news__body">
    <p class="card-news__time">
      <time datetime="2025-04-10">10 квітня 2025</time>
    </p>
    <div class="card-news__tags">
      <a href="#" data-fls-tags class="tag tag--1" aria-label="tag link">Назва тегу</a>
      <a href="#" data-fls-tags class="tag tag--2" aria-label="tag link">Довга назва тегу</a>
      <a href="#" data-fls-tags class="tag tag--3" aria-label="tag link">Назва тегу</a>
    </div>
    <h2 class="card-news__title title-card">
      <a href="#" aria-label="link to the article">
        Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
      </a>
    </h2>
    <div class="card-news__text">
      <p>
        Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені процедури дозволяють
        зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
      </p>
    </div>
  </div>
</article>
<article data-fls-cardnews class="card-news card-news--t6">
  <a href="#" class="card-news__picture" aria-label="link to the article">
    <img src="@img/partners/partners-1.jpg" width="346" height="230" alt="Image">
  </a>
  <div class="card-news__body">
    <h2 class="card-news__title title-card">
      <a href="#" aria-label="link to the article">
        Як зробити спрощені закупівлі ще зручнішими. Секрети роботи на майданчику Zakupivli.Pro
      </a>
    </h2>
    <div class="card-news__text">
      <p>
        Хоча спрощені закупівлі замовники можуть використовувати лише у певних випадках, їх кількість в Україні зростає. Це пов'язано з необхідністю швидше реагувати на потреби ринку та забезпечувати ефективність витрат. Спрощені
        процедури дозволяють зменшити бюрократичні бар'єри, що, в свою чергу, сприяє залученню більшої кількості постачальників. Важливо, щоб замовники дотримувались усіх вимог, щоб замовники дотримувались усіх вимог
      </p>
    </div>
    <div class="card-news__more">
      <a href="#" class="card-news__more-link">Детальніше</a>
    </div>
  </div>
</article>