.card-news {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: max-content;
  // .card-news--t1 
  &--t1,
  &--t6,
  &--t7 {
    padding: 20px;
    background-color: var(--gray-light);
    border-radius: 8px;
    min-height: 488px;
    // max-height: 488px;
    // height: 488px;
    .card-news__body {
      flex: 1;
    }
    .card-news__picture {
      margin-bottom: toRem(14);
    }
  }
  // .card-news--t2
  &--t2 {}
  // .card-news--t3
  &--t3 {}
  // .card-news--t4
  &--t4 {
    min-height: 230px;
    overflow: hidden;
       border-radius: 8px;
         &::before {
        content:'';
        pointer-events: none;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50%;
        background-image: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, #101010 100%);
      }
     .card-news__body {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;

       padding: 20px 20px 15px 20px ;
       
     }
     .card-news__time,
     .card-news__title {
      color: var(--white);
     }
    }
     // .card-news--t5
    &--t5 {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 20px;
      height: 230px;
      overflow: hidden;
      .card-news__picture {
        height: inherit;
      }
    }
    &--t5-full {
      grid-template-columns: repeat(3,1fr);
      .card-news__body {
        grid-column: 2/4;
      }
    }
    &--t6 {
      min-height: 100%;
      background-color: var(--white);
      .card-news__body {
        display: flex;
        flex-direction: column;
      }
      .card-news__text {
        // flex: 1;
      }
      .card-news__more {
        flex: 1;
      }
    }
    &--t7 {
      min-height: 100%;
    }
		// .card-news__picture
		&__picture {
      border-radius: 8px;
      overflow: hidden;
      @media (any-hover: hover){
        &:hover{
          img {
            transform: scale(1.03);
          }
        }
      }
      img {
        @extend %ibg;
        transition: transform 1s ease;
        max-height: 230px;
        min-height: 230px;
        height: 230px;
      }
		}

		// .card-news__body
		&__body {
      // display: flex;
      // flex-direction: column;
      >* {
          margin-bottom: 8px;
        }
      >*:last-child {
        margin-bottom: 0;
      }
		}

		// .card-news__time
		&__time {
      line-height: 1.3;
      font-size: 12px;
      color: var(--gray-dark);
      margin-bottom: 8px;
		}

		// .card-news__tags
		&__tags {
      display: flex;
      flex-wrap: wrap;
      gap: 4px 8px;
      margin-bottom: 8px;
		}

		// .card-news__title
		&__title {
      // flex: 1;
      margin-bottom: toRem(6);
      @media (any-hover: hover){
        &:hover{
          a {
            text-decoration: underline;
          }
        }
      }
      a {
        text-underline-offset: 4px;
        transition: all .3s ease;
      }
		}

		// .card-news__text
		&__text {
      font-size: 14px;
      line-height: 1.7;
      @extend %lineElements;
		}

		// .card-news__more
		&__more {
      display: inline-flex;
    }
    
		// .card-news__more-link
		&__more-link {
      align-self: flex-end;
      font-weight: 700;
      margin-top: 8px;
       text-underline-offset: 4px;
        transition: all .3s ease;
         @media (any-hover: hover){
        &:hover{
            text-decoration: underline;
        }
      }
		}
}
