<footer data-fls-footer class="footer">
	<div class="footer__top">
		<div class="footer__container">
			<div class="footer__body">
				<div class="footer__left">
					<div class="footer__lng">
						<a href="#" aria-label="переключити сайт іншою мовою">English</a>
					</div>
					<ul class="footer__social social-footer">
						<li class="social-footer__item">
							<a href="#" target="" aria-label="link to social">
								<img src="@img/icons/fb.svg" width="32" height="32" alt="Image">
							</a>
						</li>
						<li class="social-footer__item">
							<a href="#" target="" aria-label="link to social">
								<img src="@img/icons/yt.svg" width="32" height="32" alt="Image">
							</a>
						</li>
						<li class="social-footer__item">
							<a href="#" target="" aria-label="link to social">
								<img src="@img/icons/phone.svg" width="32" height="32" alt="Image">
							</a>
						</li>
					</ul>
					<ul class="footer__app app-footer">
						<li class="app-footer__item">
							<a href="#" aria-label="link to app">
								<img src="@img/icons/app_store.svg" width="116" height="40" alt="Image">
							</a>
						</li>
						<li class="app-footer__item">
							<a href="#" aria-label="link to app">
								<img src="@img/icons/google_play.svg" width="132" height="40" alt="Image">
							</a>
						</li>
					</ul>
				</div>
				<nav class="footer__nav">
					<ul class="footer__list">
						<li class="footer__item">
							<a href="#" aria-label="link">Тарифи</a>
						</li>
						<li class="footer__item">
							<a href="#" aria-label="link">Контакти</a>
						</li>
						<li class="footer__item">
							<a href="#" aria-label="link">Про майданчик</a>
						</li>
						<li class="footer__item">
							<a href="#" aria-label="link">Навчання</a>
						</li>
					</ul>
					<ul class="footer__list">
						<li class="footer__item">
							<a href="#" aria-label="link">Політика конфіденційності</a>
						</li>
						<li class="footer__item">
							<a href="#" aria-label="link">Публічна оферта</a>
						</li>
						<li class="footer__item">
							<a href="#" aria-label="link">Регламент</a>
						</li>
						<li class="footer__item">
							<a href="#" aria-label="link">Тендерне законодавство</a>
						</li>
					</ul>
					<ul class="footer__list">
						<li class="footer__item">
							<a href="#" aria-label="link">Мобільний додаток</a>
						</li>
						<li class="footer__item">
							<a href="#" aria-label="link">Інтеграція з нами</a>
						</li>
						<li class="footer__item">
							<a href="#" aria-label="link">Тренажер аукціонів</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="footer__container">
			<div class="footer__text">
				<p>
					© Аукціони.Prom, 2016-2023<br>
					Акредитований учасник електронної системи торгів Prozorro.Продажі
				</p>
			</div>
		</div>
	</div>
</footer>