<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<main class="page">
	<section class="notfound">
		<div class="notfound__container">
			<div class="notfound__body">
				<div class="notfound__img">
					<img class="notfound__image ibg" src="@img/notfound.png" width="232" height="410" alt="Image">
				</div>
				<div class="notfound__content">
					<h1 class="notfound__title">404</h1>
					<div class="notfound__subtitle">
						<p>От халепа, щось пішло не так</p>
					</div>
					<div class="notfound__txt">
						<p>Сторінку не знайдено, спробуйте оновити її або звʼяжіться зі своїм менеджером</p>
					</div>
					<a href="#" data-fls-buttons class="notfound__btn btn btn--green btn--fw" aria-label="go to home page">Перейти на головну сторінку</a>
				</div>
			</div>
		</div>
	</section>
</main>
