<script type="module" src="@components/pages/supplier/supplier.html"></script>
<link rel="stylesheet" href="@components/pages/supplier/supplier.scss">

<main class="page page--supplier">
	<div class="page__container">
		<p class="lorem"><br><b>SUPPLIER </b><br><br> ipsum dolor sit amet, consectetur adipisicing elit. Unde excepturi mollitia natus aliquid sint, amet ullam asperiores nemo voluptates harum! Distinctio, optio magnam ratione cumque at officia tempora consectetur facere?</p>
		<p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde excepturi mollitia natus aliquid sint, amet ullam asperiores nemo voluptates harum! Distinctio, optio magnam ratione cumque at officia tempora consectetur facere?</p>
		<p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde excepturi mollitia natus aliquid sint, amet ullam asperiores nemo voluptates harum! Distinctio, optio magnam ratione cumque at officia tempora consectetur facere?</p>
		<p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde excepturi mollitia natus aliquid sint, amet ullam asperiores nemo voluptates harum! Distinctio, optio magnam ratione cumque at officia tempora consectetur facere?</p>
	</div>
</main>
